@{
    Layout = "/Pages/Administration/Accounts/_Layout.cshtml";
}

@section Banner {
    @RenderSection("Banner", required: false)
}

@section Breadcrumbs {
    <a asp-page="/Administration/Accounts/UserRoles/Index" class="breadcrumb-item"><span>User roles</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    @RenderSection("Navigation", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
