@page
@model IndexModel
@{
    ViewData["Title"] = "User roles";
}

<partial name="_SearchInputPartial" model="Model.View.Search.Input" />
<partial name="_SearchFiltersPartial" model="Model.View.Search.Filters" />
<form method="get" class="text-justify">
    <div class="row align-items-center">
        <div class="col-lg-6 mb-3">
            <a asp-page="/Administration/Accounts/UserRoles/Create" class="btn btn-success btn-block" title="Create">
                <span><i class="fas fa-plus"></i></span>
                <span>Add a new item</span>
            </a>
        </div>
        <div class="col-lg-6 mb-3">
            <button type="submit" asp-page="/Administration/Accounts/UserRoles/Delete" class="btn btn-danger btn-block item-group-button" title="Delete" disabled>
                <span><i class="fas fa-trash"></i></span>
                <span>Delete selected items</span>
            </button>
        </div>
    </div>
    @if (!Model.View.Search.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No items have been found@(Model.View.Search.Filters.Any() ? " matching the applied filters" : string.Empty). <a asp-page="/Administration/Accounts/UserRoles/Create" title="Create" class="alert-link">Create a new one?</a></span>
        </div>
    }
    else
    {
        <table class="table table-hover table-bordered item-group" data-paging="false" data-info="false" data-searching="false">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="select" class="custom-control-input item-group-select" title="Select" />
                            <label for="select" class="custom-control-label"></label>
                        </div>
                    </th>
                    <th class="text-left text-break">
                        <span>User</span>
                    </th>
                    <th class="text-left text-break">
                        <span>Role</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.View.Search.Items)
                {
                    <tr class="item-group-item">
                        <td class="text-center text-break">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-@item.User.Id-@item.Role.Id" class="custom-control-input item-group-item-checkbox" title="Select" />
                                <label for="checkbox-@item.User.Id-@item.Role.Id" class="custom-control-label"></label>
                            </div>
                            <div class="custom-control custom-checkbox" hidden>
                                <input type="checkbox" id="checkbox-1-@item.User.Id-@item.Role.Id" name="userIds" value="@item.User.Id" class="custom-control-input" title="Select" />
                                <label for="checkbox-1-@item.User.Id-@item.Role.Id" class="custom-control-label"></label>
                            </div>
                            <div class="custom-control custom-checkbox" hidden>
                                <input type="checkbox" id="checkbox-2-@item.User.Id-@item.Role.Id" name="roleIds" value="@item.Role.Id" class="custom-control-input" title="Select" />
                                <label for="checkbox-2-@item.User.Id-@item.Role.Id" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <div>
                                <a asp-page="/Administration/Accounts/Users/Details" asp-route-id="@item.User.Id" class="font-weight-bold" title="@item.User.Email">@item.User.Email</a>
                            </div>
                            <div>
                                <span class="small" title="@item.User.Id">@item.User.Id</span>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <div>
                                <a asp-page="/Administration/Accounts/Roles/Details" asp-route-id="@item.Role.Id" class="font-weight-bold" title="@item.Role.Name">@item.Role.Name</a>
                            </div>
                            <div>
                                <span class="small"title="@item.Role.Id">@item.Role.Id</span>
                            </div>
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Administration/Accounts/UserRoles/Delete" asp-route-userIds="@item.User.Id" asp-route-roleIds="@item.Role.Id" class="btn btn-danger m-1" title="Delete">
                                <span><i class="fas fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_SearchPaginationPartial" model="Model.View.Search.Pagination" />
    }
</form>
