@page
@model DetailsModel
@{
    ViewData["Title"] = "Target protein collection details";
}

<partial name="_NavigationTitleCardPartial" model="@Helpers.ViewModels.NavigationTitleCardViewModel.GetNodeCollectionNavigationTitleCard(Model.View.NodeCollection)" />
@if (User.IsInRole("Administrator"))
{
    <a asp-page="/Administration/Data/NodeCollections/Details" asp-route-id="@Model.View.NodeCollection.Id" class="btn btn-info btn-block mb-3" title="Details">
        <span><i class="fas fa-info-circle"></i></span>
        <span>Details</span>
    </a>
}
@if (!string.IsNullOrEmpty(Model.View.NodeCollection.Description))
{
    <div class="card mb-3">
        <div class="card-body text-justify small">
            <span title="Description">@Model.View.NodeCollection.Description</span>
        </div>
    </div>
}
<div class="row align-items-center">
    <div class="col-lg mb-3">
        <a asp-page="/Content/DatabaseTypes/PPI/Data/TargetNodeCollections/Download" asp-route-ids="@Model.View.NodeCollection.Id" class="btn btn-primary btn-block" title="Download">
            <span><i class="fas fa-download"></i></span>
            <span>Download</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.NodeCollectionDatabases.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no databases currently assigned.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>The protein collection is currently assigned to @Model.View.NodeCollectionDatabases.Count() database@(Model.View.NodeCollectionDatabases.Count() != 1 ? "s" : string.Empty).</span>
            </div>
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nodeCollectionDatabase in Model.View.NodeCollectionDatabases)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@nodeCollectionDatabase.Database.Name">@nodeCollectionDatabase.Database.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Details" asp-route-id="@nodeCollectionDatabase.Database.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Proteins</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.NodeCollectionNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no proteins currently assigned.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>The protein collection currently contains @Model.View.NodeCollectionNodes.Count() protein@(Model.View.NodeCollectionNodes.Count() != 1 ? "s" : string.Empty).</span>
            </div>
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Protein</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nodeCollectionNode in Model.View.NodeCollectionNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@nodeCollectionNode.Node.Name">@nodeCollectionNode.Node.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/DatabaseTypes/PPI/Data/Nodes/Details" asp-route-id="@nodeCollectionNode.Node.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
