@using Helpers.ViewModels
@{
    Layout = "/Pages/_Layout.cshtml";
    var _primaryColor = "primary";
    var _secondaryColor = "light";
    var navigationBanner = new NavigationBannerViewModel
    {
        Id = "Administration",
        Title = "Administration",
        Icon = "fa-cog",
        Color = _primaryColor
    };
    var navigationArea = new NavigationAreaViewModel
    {
        Id = "Administration",
        Title = "Administration",
        Description = string.Empty,
        Icon = "fa-cog",
        Color = _primaryColor,
        NavigationGroups = new List<NavigationGroupViewModel>
{
            new NavigationGroupViewModel
            {
                Id = "Index",
                Title = "Overview",
                Description = string.Empty,
                Icon = "fa-chart-bar",
                Color = _primaryColor,
                Link = "/Administration/Index"
            },
            new NavigationGroupViewModel
            {
                Id = "Accounts",
                Title = "Accounts",
                Description = string.Empty,
                Icon = "fa-users",
                Color = _primaryColor,
                Link = "/Administration/Accounts/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "Users",
                        Title = "Users",
                        Description = string.Empty,
                        Icon = "fa-user",
                        Color = _secondaryColor,
                        Link = "/Administration/Accounts/Users/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "Roles",
                        Title = "Roles",
                        Description = string.Empty,
                        Icon = "fa-tag",
                        Color = _secondaryColor,
                        Link = "/Administration/Accounts/Roles/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "UserRoles",
                        Title = "User roles",
                        Description = string.Empty,
                        Icon = "fa-user-tag",
                        Color = _secondaryColor,
                        Link = "/Administration/Accounts/UserRoles/Index"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "Permissions",
                Title = "Permissions",
                Description = string.Empty,
                Icon = "fa-lock",
                Color = _primaryColor,
                Link = "/Administration/Permissions/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseUsers",
                        Title = "Database users",
                        Description = string.Empty,
                        Icon = "fa-database",
                        Color = _secondaryColor,
                        Link = "/Administration/Permissions/DatabaseUsers/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseUserInvitations",
                        Title = "Database user invitations",
                        Description = string.Empty,
                        Icon = "fa-envelope-open",
                        Color = _secondaryColor,
                        Link = "/Administration/Permissions/DatabaseUserInvitations/Index"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "Databases",
                Title = "Databases",
                Description = string.Empty,
                Icon = "fa-database",
                Color = _primaryColor,
                Link = "/Administration/Databases/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseTypes",
                        Title = "Database types",
                        Description = string.Empty,
                        Icon = "fa-font",
                        Color = _secondaryColor,
                        Link = "/Administration/Databases/DatabaseTypes/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "Databases",
                        Title = "Databases",
                        Description = string.Empty,
                        Icon = "fa-database",
                        Color = _secondaryColor,
                        Link = "/Administration/Databases/Databases/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseNodeFields",
                        Title = "Database node fields",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Administration/Databases/DatabaseNodeFields/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseEdgeFields",
                        Title = "Database edge fields",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Administration/Databases/DatabaseEdgeFields/Index"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "Data",
                Title = "Data",
                Description = string.Empty,
                Icon = "fa-table",
                Color = _primaryColor,
                Link = "/Administration/Data/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "Nodes",
                        Title = "Nodes",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Administration/Data/Nodes/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "Edges",
                        Title = "Edges",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Administration/Data/Edges/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "NodeCollections",
                        Title = "Node collections",
                        Description = string.Empty,
                        Icon = "fa-folder",
                        Color = _secondaryColor,
                        Link = "/Administration/Data/NodeCollections/Index"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "Relationships",
                Title = "Relationships",
                Description = string.Empty,
                Icon = "fa-heart",
                Color = _primaryColor,
                Link = "/Administration/Relationships/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseNodes",
                        Title = "Database nodes",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/DatabaseNodes/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseEdges",
                        Title = "Database edges",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/DatabaseEdges/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseNodeFieldNodes",
                        Title = "Database node field nodes",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/DatabaseNodeFieldNodes/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "DatabaseEdgeFieldEdges",
                        Title = "Database edge field edges",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/DatabaseEdgeFieldEdges/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "EdgeNodes",
                        Title = "Edge nodes",
                        Description = string.Empty,
                        Icon = "fa-arrow-circle-right",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/EdgeNodes/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "NodeCollectionDatabases",
                        Title = "Node collection databases",
                        Description = string.Empty,
                        Icon = "fa-folder",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/NodeCollectionDatabases/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "NodeCollectionNodes",
                        Title = "Node collection nodes",
                        Description = string.Empty,
                        Icon = "fa-folder",
                        Color = _secondaryColor,
                        Link = "/Administration/Relationships/NodeCollectionNodes/Index"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "Created",
                Title = "Created",
                Description = string.Empty,
                Icon = "fa-smile",
                Color = _primaryColor,
                Link = "/Administration/Created/Index",
                NavigationPages = new List<NavigationPageViewModel>
        {
                    new NavigationPageViewModel
                    {
                        Id = "Networks",
                        Title = "Networks",
                        Description = string.Empty,
                        Icon = "fa-share-alt",
                        Color = _secondaryColor,
                        Link = "/Administration/Created/Networks/Index"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "Analyses",
                        Title = "Analyses",
                        Description = string.Empty,
                        Icon = "fa-desktop",
                        Color = _secondaryColor,
                        Link = "/Administration/Created/Analyses/Index"
                    }
                }
            }
        }
    };
}

@section Banner {
    <partial name="_NavigationBannerPartial" model="@navigationBanner" />
}

@section Breadcrumbs {
    <a asp-page="/Administration/Index" class="breadcrumb-item"><span>Administration</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@navigationArea" />
    @RenderSection("Navigation", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
