@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<partial name="_NavigationQuickLinksPartial" model="@Helpers.ViewModels.NavigationQuickLinkViewModel.GetAdministrationNavigationQuickLinks(Model.View.AllItemCount)" />
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-exclamation-circle"></i></span>
            </div>
            <div>
                <span>Issues</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.DuplicateItemCount.Any(item => item.Value != 0))
        {
            <div class="alert alert-success text-justify text-wrap">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no duplicate items found in the data.</span>
            </div>
        }
        else
        {
            @foreach (var item in Model.View.DuplicateItemCount)
            {
                @if (item.Value != 0)
                {
                    <div class="alert alert-warning text-justify text-wrap">
                        <span><i class="fas fa-exclamation-triangle"></i></span>
                        <span>There @(item.Value != 1 ? "are" : "is") @item.Value duplicate value@(item.Value != 1 ? "s" : string.Empty) of type "@item.Key".</span>
                    </div>
                }
            }
        }
        @if (!Model.View.OrphanedItemCount.Any(item => item.Value != 0))
        {
            <div class="alert alert-success text-justify text-wrap">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no orphaned items found in the data.</span>
            </div>
        }
        else
        {
            @foreach (var item in Model.View.OrphanedItemCount)
            {
                @if (item.Value != 0)
                {
                    <div class="alert alert-warning text-justify text-wrap">
                        <span><i class="fas fa-exclamation-triangle"></i></span>
                        <span>There @(item.Value != 1 ? "are" : "is") @item.Value orphaned value@(item.Value != 1 ? "s" : string.Empty) of type "@item.Key".</span>
                    </div>
                }
            }
        }
        @if (!Model.View.InconsistentItemCount.Any(item => item.Value != 0))
        {
            <div class="alert alert-success text-justify text-wrap mb-0">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no inconsistent items found in the data.</span>
            </div>
        }
        else
        {
            @foreach (var item in Model.View.InconsistentItemCount)
            {
                @if (item.Value != 0)
                {
                    <div class="alert alert-warning text-justify text-wrap mb-0">
                        <span><i class="fas fa-exclamation-triangle"></i></span>
                        <span>There @(item.Value != 1 ? "are" : "is") @item.Value inconsistent value@(item.Value != 1 ? "s" : string.Empty) of type "@item.Key".</span>
                    </div>
                }
            }
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-fire"></i></span>
            </div>
            <div>
                <span>Hangfire</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>This application uses Hangfire to manage the background tasks. You can access the corresponding dashboard by clicking on the button below.</span>
        </div>
        <form method="post" asp-page-handler="Hangfire" class="text-justify">
            <button type="submit" title="Open Hangfire dashboard" class="btn btn-info btn-block">
                <span>Open Hangfire dashboard</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-bullhorn"></i></span>
            </div>
            <div>
                <span>Announcements</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-primary text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>Write a message and click the button below to have it appear on each user's account overview page. This can be useful in making application-wide announcements. Submitting an empty message will clear the current announcement.</span>
        </div>
        <form method="post" asp-page-handler="UpdateAnnouncementMessage" class="text-justify">
            <div class="form-group">
                <label for="announcementMessage" class="font-weight-bold">Announcement message</label>
                <input for="announcementMessage" id="announcementMessage" name="announcementMessage" value="@Model.View.AnnouncementMessage" class="form-control" />
                <span description-for="announcementMessage" class="text-muted small">The message of the announcement.</span>
                <span validation-for="announcementMessage" class="text-danger small"></span>
            </div>
            <button type="submit" title="Update" class="btn btn-primary btn-block">
                <span>Update</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-sync"></i></span>
            </div>
            <div>
                <span>Recurring jobs</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-warning text-justify text-wrap">
            <span><i class="fas fa-exclamation-triangle"></i></span>
            <span>You can (re)set all of the Hangfire recurrent jobs by clicking on the button below. They are scheduled to run every day at midnight (UTC). The jobs are unset by default. The recurring jobs are:</span>
            <ul class="mt-1 mb-0">
                <li>
                    <span><span class="font-weight-bold">Count all items</span>, which counts all corresponding items in the database and updates the current page.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Count duplicate items</span>, which counts the corresponding duplicate items in the database and updates the current page.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Count orphaned items</span>, which counts the corresponding orphaned items in the database and updates the current page.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Count inconsistent items</span>, which counts the corresponding inconsistent items in the database and updates the current page.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Stop analyses</span>, which stops all analyses created over @NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeStop days before the current date.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Alert users</span>, which sends an e-mail to all users which have access to a network or to an analysis created over @NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeAlert days before the current date, and scheduled to be automatically deleted in @(NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeDelete - NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeAlert) days.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Delete unconfirmed users</span>, which deletes all users with accounts created over @NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeDelete days before the current date, but with still unconfirmed e-mails.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Delete networks</span>, which deletes all networks created over @NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeDelete days before the current date.</span>
                </li>
                <li>
                    <span><span class="font-weight-bold">Delete analyses</span>, which deletes all analyses created over @NetControl4BioMed.Data.ApplicationDbContext.DaysBeforeDelete days before the current date.</span>
                </li>
            </ul>
        </div>
        <form method="post" asp-page-handler="ResetHangfireRecurrentJobs" class="text-justify">
            <button type="submit" title="Reset Hangfire recurrent jobs" class="btn btn-warning btn-block">
                <span class="text-white">Reset Hangfire recurrent jobs</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-download"></i></span>
            </div>
            <div>
                <span>Download</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-primary text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>You can download all of the data used by the application (namely the database types, databases, database fields, nodes and edges) by clicking on the button below.</span>
        </div>
        <form method="post" asp-page-handler="Download" class="text-justify">
            <div class="form-group">
                <label for="downloadItems" class="font-weight-bold">Items</label>
                <select for="downloadItems" id="downloadItems" name="downloadItems" class="form-control" multiple="multiple">
                    <optgroup title="All" label="All">
                        <option value="AllDatabaseTypes" title="Database types">Database types</option>
                        <option value="AllDatabases" title="Databases">Databases</option>
                        <option value="AllDatabaseNodeFields" title="Database node fields">Database node fields</option>
                        <option value="AllDatabaseEdgeFields" title="Database edge fields">Database edge fields</option>
                        <option value="AllNodes" title="Nodes">Nodes</option>
                        <option value="AllEdges" title="Edges">Edges</option>
                        <option value="AllNodeCollections" title="Node collections">Node collections</option>
                        <option value="AllNetworks" title="Networks">Networks</option>
                        <option value="AllAnalyses" title="Analyses">Analyses</option>
                        <option value="AllSamples" title="Samples">Samples</option>
                    </optgroup>
                    <optgroup title="Duplicate" label="Duplicate">
                        <option value="DuplicateDatabaseTypes" title="Database types">Database types</option>
                        <option value="DuplicateDatabases" title="Databases">Databases</option>
                        <option value="DuplicateDatabaseNodeFields" title="Database node fields">Database node fields</option>
                        <option value="DuplicateDatabaseEdgeFields" title="Database edge fields">Database edge fields</option>
                        <option value="DuplicateDatabaseNodeFieldNodes" title="Database node field nodes">Database node field nodes</option>
                        <option value="DuplicateDatabaseEdgeFieldEdges" title="Database edge field edges">Database edge field edges</option>
                        <option value="DuplicateNodes" title="Nodes">Nodes</option>
                        <option value="DuplicateEdges" title="Edges">Edges</option>
                        <option value="DuplicateNodeCollections" title="Node collections">Node collections</option>
                    </optgroup>
                    <optgroup title="Orphaned" label="Orphaned">
                        <option value="OrphanedNodes" title="Nodes">Nodes</option>
                        <option value="OrphanedEdges" title="Edges">Edges</option>
                        <option value="OrphanedNodeCollections" title="Node collections">Node collections</option>
                        <option value="OrphanedNetworks" title="Networks">Networks</option>
                        <option value="OrphanedAnalyses" title="Analyses">Analyses</option>
                    </optgroup>
                    <optgroup title="Inconsistent" label="Inconsistent">
                        <option value="InconsistentNodes" title="Nodes">Nodes</option>
                        <option value="InconsistentEdges" title="Edges">Edges</option>
                        <option value="InconsistentNodeCollections" title="Node collections">Node collections</option>
                        <option value="InconsistentNetworks" title="Networks">Networks</option>
                        <option value="InconsistentAnalyses" title="Analyses">Analyses</option>
                    </optgroup>
                </select>
                <span description-for="downloadItems" class="text-muted small">The items to download.</span>
                <span validation-for="downloadItems" class="text-danger small"></span>
            </div>
            <button type="submit" title="Download" class="btn btn-primary btn-block">
                <span>Download</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-times"></i></span>
            </div>
            <div>
                <span>Delete</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-danger text-justify text-wrap">
            <span><i class="fas fa-exclamation-circle"></i></span>
            <span>You can quickly delete all of the corresponding data by using the form below. <span class="font-weight-bold">This action can't be reversed, so continue only if you are sure!</span> Several things should be kept in mind.</span>
            <ul class="mt-1 mb-0">
                <li class="">
                    <span><span class="font-weight-bold">Deleting all nodes</span> will also delete all edges and networks and analyses.</span>
                </li>
                <li class="">
                    <span><span class="font-weight-bold">Deleting all edges</span> will also delete all networks and analyses.</span>
                </li>
                <li class="">
                    <span><span class="font-weight-bold">Deleting all node collections</span> will also delete all networks and analyses that use them.</span>
                </li>
                <li class="">
                    <span><span class="font-weight-bold">Deleting all networks</span> will also delete all analyses and generic nodes and generic edges.</span>
                </li>
                <li class="">
                    <span><span class="font-weight-bold">Deleting all analyses</span> will not delete anything else.</span>
                </li>
                <li class="">
                    <span><span class="font-weight-bold">Deleting all samples</span> will not delete anything else.</span>
                </li>
            </ul>
        </div>
        <form method="post" asp-page-handler="Delete" class="text-justify">
            <div class="form-group">
                <label for="deleteItems" class="font-weight-bold">Items</label>
                <select for="deleteItems" id="deleteItems" name="deleteItems" class="form-control" multiple="multiple">
                    <option value="Nodes" title="Nodes">Nodes</option>
                    <option value="Edges" title="Edges">Edges</option>
                    <option value="NodeCollections" title="Node collections">Node collections</option>
                    <option value="Networks" title="Networks">Networks</option>
                    <option value="Analyses" title="Analyses">Analyses</option>
                    <option value="Samples" title="Samples">Samples</option>
                </select>
                <span description-for="deleteItems" class="text-muted small">The items to delete.</span>
                <span validation-for="deleteItems" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label for="deleteConfirmation" class="font-weight-bold">Confirmation</label>
                <input for="deleteConfirmation" id="deleteConfirmation" name="deleteConfirmation" class="form-control" autocomplete="off" required="required" />
                <span description-for="deleteConfirmation" class="text-muted small">The confirmation for the deletion. You need to type "I confirm that I want to delete <span class=""> all Items</span>!" (including the exclamation mark), replacing the word "Items" with the case-sensitive name of the actual items that you would like to delete ("Nodes", "Edges", "NodeCollections", "Networks", "Analyses", or "Samples"). If more than one set of items is to be deleted at a time, then they should be separated by the word "and" ("all Nodes and all Edges and all NodeCollections and all Networks and all Analyses and all Samples"), in the same order as in the previous selection.</span>
                <span validation-for="deleteConfirmation" class="text-danger small"></span>
            </div>
            <div class="form-group" hidden>
                <label for="reCaptchaToken" class="font-weight-bold">reCaptcha token</label>
                <input for="reCaptchaToken" name="reCaptchaToken" class="form-control recaptcha-input" />
                <span description-for="reCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
                <span validation-for="reCaptchaToken" class="text-danger small"></span>
            </div>
            <button type="submit" title="Delete" class="btn btn-danger btn-block">
                <span>Delete</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsReCaptchaPartial" />
}
