@page
@model IndexModel
@using Helpers.ViewModels
@{
    ViewData["Title"] = "Overview";
    ViewData["ActiveGroup"] = "Index";
    ViewData["ActivePage"] = "Index";
    var navigationQuickLinks = new List<NavigationQuickLinkViewModel>
    {
        new NavigationQuickLinkViewModel
        {
            Id = "Users",
            Title = "User",
            Color = "success",
            Icon = "fa-user",
            Width = 6,
            ItemCount = Model.View.UserCount,
            Link = "/Administration/Accounts/Users/Index",
        },
        new NavigationQuickLinkViewModel
        {
            Id = "Roles",
            Title = "Role",
            Color = "success",
            Icon = "fa-tag",
            Width = 6,
            ItemCount = Model.View.RoleCount,
            Link = "/Administration/Accounts/Roles/Index",
        },
        new NavigationQuickLinkViewModel
        {
            Id = "Databases",
            Title = "Database",
            Color = "info",
            Icon = "fa-database",
            Width = 6,
            ItemCount = Model.View.DatabaseCount,
            Link = "/Administration/Databases/Databases/Index",
        },
        new NavigationQuickLinkViewModel
        {
            Id = "NodeCollections",
            Title = "Node collection",
            Color = "info",
            Icon = "fa-folder",
            Width = 6,
            ItemCount = Model.View.NodeCollectionCount,
            Link = "/Administration/Data/NodeCollections/Index"
        },
        new NavigationQuickLinkViewModel
        {
            Id = "Nodes",
            Title = "Node",
            Color = "primary",
            Icon = "fa-circle",
            Width = 6,
            ItemCount = Model.View.NodeCount,
            Link = "/Administration/Data/Nodes/Index"
        },
        new NavigationQuickLinkViewModel
        {
            Id = "Edges",
            Title = "Edge",
            Color = "primary",
            Icon = "fa-arrow-right",
            Width = 6,
            ItemCount = Model.View.EdgeCount,
            Link = "/Administration/Data/Edges/Index"
        }
    };
}

<partial name="_NavigationQuickLinksPartial" model="@navigationQuickLinks" />
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-exclamation-circle"></i></span>
            </div>
            <div>
                <span>Issues</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.DuplicateDetected)
        {
            <div class="alert alert-success text-justify text-wrap">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no duplicate items found in the data.</span>
            </div>
        }
        else
        {
            @if (Model.View.DuplicateDatabaseTypes.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several database types with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateDatabaseTypes)
                        {
                            <li>
                                <a asp-page="/Administration/Databases/DatabaseTypes/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateDatabases.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several databases with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateDatabases)
                        {
                            <li>
                                <a asp-page="/Administration/Databases/Databases/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateDatabaseNodeFields.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several database node fields with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateDatabaseNodeFields)
                        {
                            <li>
                                <a asp-page="/Administration/Databases/DatabaseNodeFields/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateDatabaseEdgeFields.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several database edge fields with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateDatabaseEdgeFields)
                        {
                            <li>
                                <a asp-page="/Administration/Databases/DatabaseEdgeFields/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateDatabaseNodeFieldNodes.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several database node field nodes with the same value. The duplicate values are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateDatabaseNodeFieldNodes)
                        {
                            <li>
                                <a asp-page="/Administration/Relationships/DatabaseNodeFieldNodes/Index" asp-route-searchString="@item" asp-route-searchIn="Value" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateNodes.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several nodes with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateNodes)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Nodes/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateEdges.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several edges with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateEdges)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Edges/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.DuplicateNodeCollections.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are several node collections with the same name. The duplicate names are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.DuplicateNodeCollections)
                        {
                            <li>
                                <a asp-page="/Administration/Data/NodeCollections/Index" asp-route-searchString="@item" asp-route-searchIn="Name" class="alert-link">
                                    <span>@item</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        @if (!Model.View.OrphanDetected)
        {
            <div class="alert alert-success text-justify text-wrap">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no orphaned items found in the data.</span>
            </div>
        }
        else
        {
            @if (Model.View.OrphanedNodes.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are orphaned nodes in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.OrphanedNodes)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Nodes/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.OrphanedEdges.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are orphaned edges in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.OrphanedEdges)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Edges/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.OrphanedNodeCollections.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are orphaned node collections in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.OrphanedNodeCollections)
                        {
                            <li>
                                <a asp-page="/Administration/Data/NodeCollections/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.OrphanedNetworks.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are orphaned networks in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.OrphanedNetworks)
                        {
                            <li>
                                <a asp-page="/Administration/Created/Networks/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.OrphanedAnalyses.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are orphaned analyses in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.OrphanedAnalyses)
                        {
                            <li>
                                <a asp-page="/Administration/Created/Analysis/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        @if (!Model.View.InconsistencyDetected)
        {
            <div class="alert alert-success text-justify text-wrap">
                <span><i class="fas fa-check-circle"></i></span>
                <span>There were no inconsistent items found in the data.</span>
            </div>
        }
        else
        {
            @if (Model.View.InconsistentNodes.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are inconsistent nodes in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.InconsistentNodes)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Nodes/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.InconsistentEdges.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are inconsistent edges in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.InconsistentEdges)
                        {
                            <li>
                                <a asp-page="/Administration/Data/Edges/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.InconsistentNodeCollections.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are inconsistent node collections in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.InconsistentNodeCollections)
                        {
                            <li>
                                <a asp-page="/Administration/Data/NodeCollections/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.InconsistentNetworks.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are inconsistent networks in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.InconsistentNetworks)
                        {
                            <li>
                                <a asp-page="/Administration/Created/Networks/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
            @if (Model.View.InconsistentAnalyses.Any())
            {
                <div class="alert alert-danger text-justify text-wrap">
                    <span><i class="fas fa-exclamation-circle"></i></span>
                    <span>There are inconsistent analyses in the database. They are are listed below.</span>
                    <ul>
                        @foreach (var item in Model.View.InconsistentAnalyses)
                        {
                            <li>
                                <a asp-page="/Administration/Created/Analysis/Details" asp-route-id="@item" class="alert-link">
                                    <span>@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
        <a asp-page="/Administration/Index" class="btn btn-success btn-block" title="Refresh">
            <span>Refresh the page</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-fire"></i></span>
            </div>
            <div>
                <span>Hangfire</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>This application uses Hangfire to manage the background tasks. You can access the corresponding dashboard by clicking on the button below.</span>
        </div>
        <form method="post" asp-page-handler="Hangfire" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <button type="submit" title="Open Hangfire dashboard" class="btn btn-info btn-block">
                <span>Open Hangfire dashboard</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-download"></i></span>
            </div>
            <div>
                <span>Download</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-primary text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>You can download all of the data used by the application (namely the database types, databases, database fields, nodes and edges) by clicking on the button below.</span>
        </div>
        <form method="post" asp-page-handler="Download" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <button type="submit" title="Open Hangfire dashboard" class="btn btn-primary btn-block">
                <span>Download</span>
            </button>
        </form>
    </div>
</div>
