@using Helpers.ViewModels
@{
    Layout = "/Pages/_Layout.cshtml";
    var navigationBanner = new NavigationBannerViewModel
    {
        Id = "Account",
        Title = "Account",
        Icon = "fa-user-circle",
        Color = "info"
    };
    var navigationArea = new NavigationAreaViewModel
    {
        Id = "Account",
        Title = "Account",
        Description = string.Empty,
        Icon = "fa-user",
        Color = "info",
        Groups = new List<NavigationGroupViewModel>
        {
            new NavigationGroupViewModel
            {
                Id = "Index",
                Title = "Overview",
                Description = string.Empty,
                Icon = "fa-chart-bar",
                Color = "info",
                Link = "/Account/Index"
            },
            new NavigationGroupViewModel
            {
                Id = "Manage",
                Title = "Manage",
                Description = string.Empty,
                Icon = "fa-cog",
                Color = "info",
                Link = "/Account/Manage/Index",
                Pages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "Profile",
                        Title = "Profile",
                        Description = string.Empty,
                        Icon = "fa-user-edit",
                        Color = "light",
                        Link = "/Account/Manage/Profile"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "Password",
                        Title = "Password",
                        Description = string.Empty,
                        Icon = "fa-user-lock",
                        Color = "light",
                        Link = "/Account/Manage/ChangePassword"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "ExternalLogins",
                        Title = "External logins",
                        Description = string.Empty,
                        Icon = "fa-user-cog",
                        Color = "light",
                        Link = "/Account/Manage/ExternalLogins"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "TwoFactorAuthentication",
                        Title = "Two-factor authentication",
                        Description = string.Empty,
                        Icon = "fa-user-shield",
                        Color = "light",
                        Link = "/Account/Manage/TwoFactorAuthentication"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "PersonalData",
                        Title = "Personal data",
                        Description = string.Empty,
                        Icon = "fa-user-check",
                        Color = "light",
                        Link = "/Account/Manage/PersonalData"
                    }
                }
            }
        }
    };
}

@section Banner {
    <partial name="_NavigationBannerPartial" model="@navigationBanner" />
}

@section Breadcrumbs {
    <a asp-page="/Account/Index" class="breadcrumb-item"><span>Account</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@navigationArea" />
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
