@page
@model DownloadModel
@{
    ViewData["Title"] = "Download networks";
}

<div class="alert alert-primary text-justify text-wrap">
    <span><i class="fas fa-info-circle"></i></span>
    <span>Please select a file format, then click the button to download the listed network@(Model.View.Items.Count() != 1 ? "s" : string.Empty) in a <a href="https://en.wikipedia.org/wiki/Zip_(file_format)" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">ZIP archive</a> <span><i class="fas fa-external-link-alt"></i></span>. The available file formats are:</span>
    <ul class="mt-1 mb-0">
        <li>
            <span><span class="font-weight-bold">Text</span>, which contains the list of interactions in the network as pairs of proteins. This file can be used to directly specify the interactions when uploading a network in the application.</span>
        </li>
        <li>
            <span><span class="font-weight-bold">SIF</span>, which contains the list of interactions in the network as pairs of proteinss, together with the type of the relationship between them. This file can be imported directly into <a href="https://cytoscape.org/" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span><i class="fas fa-external-link-alt"></i></span>.</span>
        </li>
        <li>
            <span><span class="font-weight-bold">Cytoscape.js JSON</span>, which contains the network data required for visualization. This file can be imported directly into <a href="https://cytoscape.org/" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span><i class="fas fa-external-link-alt"></i></span>, where it can be used together with the available <a href="~/files/NetControl4BioMed.xml" download="NetControl4BioMed.xml" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">style file</a> <span><i class="fas fa-file-download"></i></span>.</span>
        </li>
        <li>
            <span><span class="font-weight-bold">Cytoscape CX</span>, which contains the network data required for exchanging networks within diverse services while preserving all network-related information. This file can be imported directly into <a href="https://ndexbio.org" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">NDEx</a> <span><i class="fas fa-external-link-alt"></i></span>, or into <a href="https://cytoscape.org/" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">Cytoscape</a> <span><i class="fas fa-external-link-alt"></i></span>, where it can be used together with the available <a href="~/files/NetControl4BioMed.xml" download="NetControl4BioMed.xml" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">style file</a> <span><i class="fas fa-file-download"></i></span>.</span>
        </li>
        <li>
            <span><span class="font-weight-bold">JSON</span>, which contains the complete network data, including the network details and the list of proteins and interactions in the network.</span>
        </li>
        <li>
            <span><span class="font-weight-bold">Excel</span>, which contains the complete network data, including the network details and the list of proteins and interactions in the network.</span>
        </li>
    </ul>
</div>
<form method="post" class="text-justify">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
    <div class="form-group" hidden>
        <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
        <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
        <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
        <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Format</span>
        </div>
        <select asp-for="Input.FileFormat" class="custom-select">
            <option value="txt">Text (*.txt)</option>
            <option value="sif">SIF (*.sif)</option>
            <option value="cyjs">Cytoscape.js JSON (*.cyjs)</option>
            <option value="cx">Cytoscape CX (*.cx)</option>
            <option value="json">JSON (*.json)</option>
            <option value="xlsx">Excel (*.xlsx)</option>
        </select>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-block item-group-button" title="Download">
                <span><i class="fas fa-download"></i></span>
                <span>Download</span>
            </button>
        </div>
    </div>
    @if (!Model.View.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No networks have been found with the provided IDs.</span>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header font-weight-bold">
                <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                    <div>
                        <span><i class="fas fa-download"></i></span>
                    </div>
                    <div>
                        <span>Download</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered table-datatable" data-order="[[2]]">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false" hidden>
                                <span></span>
                            </th>
                            <th class="text-center text-break text-nowrap" data-orderable="false" data-searchable="false" data-name="index">
                                <span>#</span>
                            </th>
                            <th class="text-left text-break">
                                <span>Network</span>
                            </th>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                <span>Links</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.View.Items)
                        {
                            <tr>
                                <td class="text-center text-break" hidden>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="checkbox-@item.Id" name="Input.Ids" value="@item.Id" class="custom-control-input" title="Select" checked="checked" />
                                        <label for="checkbox-@item.Id" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td class="text-center text-break text-nowrap">
                                    <span></span>
                                </td>
                                <td class="text-left text-break">
                                    <a asp-page="/CreatedData/Networks/Details/Index" asp-route-id="@item.Id" class="font-weight-bold" title="@item.Name">@item.Name</a>
                                </td>
                                <td class="text-center text-break">
                                    <a asp-page="/CreatedData/Networks/Details/Index" asp-route-id="@item.Id" title="Details">
                                        <span>Details</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</form>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
