@page
@model IndexModel
@using Helpers.Extensions
@{
    ViewData["Title"] = "Analyses";
}

<partial name="_SearchInputPartial" model="Model.View.Search.Input" />
<partial name="_SearchFiltersPartial" model="Model.View.Search.Filters" />
<form method="get" class="text-justify">
    <div class="row align-items-center">
        <div class="col-lg-12 mb-3">
            <div class="input-group">
                <select name="databaseTypeId" class="custom-select">
                    @foreach (var item in Model.View.DatabaseTypes)
                    {
                        <option value="@item.Id" title="@item.Description">@item.Name</option>
                    }
                </select>
                <select name="algorithm" class="custom-select">
                    @foreach (var item in Enum.GetValues(typeof(NetControl4BioMed.Data.Enumerations.AnalysisAlgorithm)).Cast<NetControl4BioMed.Data.Enumerations.AnalysisAlgorithm>())
                    {
                        <option value="@item" title="@item.GetDisplayDescription()">@item.GetDisplayName()</option>
                    }
                </select>
                <div class="input-group-append">
                    <button type="submit" asp-page="/Content/Created/Analyses/Create" class="btn btn-success btn-block" title="Create">
                        <span><i class="fas fa-plus"></i></span>
                        <span>Create</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 mb-3">
            <button type="submit" asp-page="/Content/Created/Analyses/Download" class="btn btn-primary btn-block item-group-button" title="Download" disabled>
                <span><i class="fas fa-download"></i></span>
                <span>Download</span>
            </button>
        </div>
        <div class="col-lg-6 mb-3">
            <button type="submit" asp-page="/Content/Created/Analyses/Delete" class="btn btn-danger btn-block item-group-button" title="Delete" disabled>
                <span><i class="fas fa-trash"></i></span>
                <span>Delete</span>
            </button>
        </div>
    </div>
    @if (!Model.View.Search.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No analyses have been found@(Model.View.Search.Filters.Any() ? " matching the applied filters" : string.Empty).</span>
        </div>
    }
    else
    {
        <table class="table table-hover table-bordered item-group" data-paging="false" data-info="false" data-searching="false">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="select" class="custom-control-input item-group-select" title="Select" />
                            <label for="select" class="custom-control-label"></label>
                        </div>
                    </th>
                    <th class="text-left text-break">
                        <span>Name</span>
                    </th>
                    <th class="d-none d-lg-table-cell text-center text-break">
                        <span>Status</span>
                    </th>
                    <th class="d-none d-lg-table-cell text-center text-break">
                        <span>Progress</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.View.Search.Items)
                {
                    <tr class="item-group-item">
                        <td class="text-center text-break">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-@item.Id" name="ids" value="@item.Id" class="custom-control-input item-group-item-checkbox" title="Select" />
                                <label for="checkbox-@item.Id" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <span title="@item.Name" class="font-weight-bold">@item.Name</span>
                        </td>
                        <td class="d-none d-lg-table-cell text-center text-break">
                            @switch (item.Status)
                            {
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Scheduled:
                                    <span class="text-warning"><i class="fas fa-clock"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Initializing:
                                    <span class="text-primary"><i class="fas fa-play-circle"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Ongoing:
                                    <span class="text-primary"><i class="fas fa-sync-alt fa-spin"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Stopping:
                                    <span class="text-danger"><i class="fas fa-stopwatch"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Stopped:
                                    <span class="text-danger"><i class="fas fa-stop-circle"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Completed:
                                    <span class="text-success"><i class="fas fa-check-circle"></i></span>
                                    break;
                                case NetControl4BioMed.Data.Enumerations.AnalysisStatus.Error:
                                    <span class="text-danger"><i class="fas fa-times-circle"></i></span>
                                    break;
                                default:
                                    break;
                            }
                            <span title="@item.Status.GetDisplayDescription()">@item.Status.GetDisplayName()</span>
                        </td>
                        <td class="d-none d-lg-table-cell text-center text-break">
                            <span title="Progress">@(Math.Round((double)item.CurrentIteration * 100 / item.MaximumIterations, 2).ToString("0.00"))% / @(Math.Round((double)item.CurrentIterationWithoutImprovement * 100 / item.MaximumIterationsWithoutImprovement, 2).ToString("0.00"))%</span>
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Content/Created/Analyses/Details/Index" asp-route-id="@item.Id" class="btn btn-info m-1" title="Details">
                                <span><i class="fas fa-info-circle"></i></span>
                            </a>
                            <a asp-page="/Content/Created/Networks/Download" asp-route-ids="@item.Id" class="btn btn-primary my-1" title="Download">
                                <span><i class="fas fa-download"></i></span>
                            </a>
                            <a asp-page="/Content/Created/Analyses/Delete" asp-route-ids="@item.Id" class="btn btn-danger m-1" title="Delete">
                                <span><i class="fas fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_SearchPaginationPartial" model="Model.View.Search.Pagination" />
    }
</form>
