@page
@model IndexModel
@using NetControl4BioMed.Data
@using NetControl4BioMed.Data.Enumerations
@using Helpers.Extensions
@{
    ViewData["Title"] = "Network details";
}

<partial name="_NavigationTitleCardPartial" model="@Helpers.ViewModels.NavigationTitleCardViewModel.GetNetworkNavigationTitleCard(Model.View.Network)" />
@if (Model.View.Network.IsPublic && User.Identity.IsAuthenticated)
{
    <div class="alert alert-warning text-justify text-wrap">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <span><span class="font-weight-bold">The network is public and appears in the list of public networks.</span> Anyone can inspect, visualize, copy, or use the network in analyses.</span>
    </div>
}
<div class="row align-items-center">
    <div class="col-lg mb-3">
        <a asp-page="/CreatedData/Networks/Create" asp-route-networkId="@Model.View.Network.Id" class="btn btn-dark btn-block" title="Re-Create">
            <span><i class="fas fa-copy"></i></span>
            <span>Re-Create</span>
        </a>
    </div>
    @if (Model.View.IsUserOwner)
    {
        <div class="col-lg mb-3">
            <a asp-page="/CreatedData/Networks/Edit" asp-route-id="@Model.View.Network.Id" class="btn btn-warning btn-block" title="Edit">
                <span><i class="fas fa-pencil-alt"></i></span>
                <span>Edit</span>
            </a>
        </div>
    }
    <div class="col-lg mb-3">
        <a asp-page="/CreatedData/Networks/Download" asp-route-ids="@Model.View.Network.Id" class="btn btn-primary btn-block" title="Download">
            <span><i class="fas fa-download"></i></span>
            <span>Download</span>
        </a>
    </div>
    @if (Model.View.ShowVisualization)
    {
        <div class="col-lg mb-3">
            <a asp-page="/CreatedData/Networks/Details/Visualize" asp-route-id="@Model.View.Network.Id" class="btn btn-info btn-block" title="Visualize">
                <span><i class="fas fa-eye"></i></span>
                <span>Visualize</span>
            </a>
        </div>
    }
</div>
@if (Model.View.Network.Status == NetworkStatus.Completed)
{
    <div class="row align-items-center">
        <div class="col-lg mb-3">
            <a asp-page="/CreatedData/Analyses/Create" asp-route-networkId="@Model.View.Network.Id" class="btn btn-success btn-block" title="Analyze">
                <span><i class="fas fa-code-branch"></i></span>
                <span>Analyze</span>
            </a>
        </div>
    </div>
}
<div class="card mb-3" title="Status">
    <div class="card-body text-center">
        <partial name="_NetworkStatusPartial" model="@Model.View.Network.Status" />
    </div>
</div>
<div class="item-refresh" data-id="@Model.View.Network.Id" data-status="@Model.View.Network.Status.ToString()" data-refresh="@(Model.View.Network.Status == NetworkStatus.Defined || Model.View.Network.Status == NetworkStatus.Generating)">
    <div class="card mb-3">
        <div class="card-body text-center">
            <div class="row align-items-center">
                <div class="col-lg utc-date" title="Date created" data-date="@Model.View.Network.DateTimeCreated.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")">
                    <span><i class="fas fa-calendar"></i></span>
                    <span class="utc-date-date" title="@Model.View.Network.DateTimeCreated.ToShortDateString()">@Model.View.Network.DateTimeCreated.ToShortDateString()</span>
                    <span class="utc-date-time" title="@Model.View.Network.DateTimeCreated.ToShortTimeString()">@Model.View.Network.DateTimeCreated.ToShortTimeString()</span>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.View.Network.Description))
{
    <div class="card mb-3" title="Description">
        <div class="card-body text-center small">
            <span>@Model.View.Network.Description</span>
        </div>
    </div>
}
<partial name="_NavigationQuickLinksPartial" model="@Helpers.ViewModels.NavigationQuickLinkViewModel.GetAvailableDataNetworkNavigationQuickLinks(Model.View.Network.Id, Model.View.ItemCount)" />
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-list"></i></span>
            </div>
            <div>
                <span>Advanced options</span>
            </div>
        </div>
    </div>
    <div class="card-body hidden-group">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>You can click <a class="alert-link hidden-group-toggle" data-type="algorithm">here</a> to display or hide the algorithm used by the network.</span>
        </div>
        <div class="hidden-group-display" data-type="algorithm" hidden>
            <div class="col-lg-12 order-3 order-lg-1 align-self-center">
                <label asp-for="View.Network.Algorithm" class="font-weight-bold">Algorithm</label>
            </div>
            <div class="col-lg-12 order-3 order-lg-2">
                <select asp-for="View.Network.Algorithm" class="custom-select" title="@Model.View.Network.Algorithm.GetDisplayDescription()" disabled>
                    @foreach (var item in Enum.GetValues(typeof(NetworkAlgorithm)).Cast<NetworkAlgorithm>())
                    {
                        <option value="@item" title="@item.GetDisplayDescription()">@item.GetDisplayName()</option>
                    }
                </select>
            </div>
            <div class="col-lg-12 order-4 order-lg-3 mb-3">
                <span asp-description-for="View.Network.Algorithm" class="text-muted small">The algorithm used in generating the network.</span>
                <span asp-validation-for="View.Network.Algorithm" class="text-danger small"></span>
            </div>
        </div>
        @if (Model.View.Network.Log.TryDeserializeJsonObject<IEnumerable<NetControl4BioMed.Helpers.ViewModels.LogEntryViewModel>>(out var logEntries))
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>You can click <a class="alert-link hidden-group-toggle" data-type="log">here</a> to display or hide the log messages of the network.</span>
            </div>
            <div class="hidden-group-display" data-type="log" hidden>
                <ul class="">
                    @foreach (var logEntry in logEntries)
                    {
                        <li class="utc-date" data-date="@logEntry.DateTime.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")">
                            <div>
                                <span class="utc-date-date" title="@logEntry.DateTime.ToShortDateString()">@logEntry.DateTime.ToShortDateString()</span>
                                <span class="utc-date-time" title="@logEntry.DateTime.ToShortTimeString()">@logEntry.DateTime.ToShortTimeString()</span>
                            </div>
                            <div>
                                <span>@logEntry.Message</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        }
        @if (Model.View.IsUserOwner)
        {
            <div class="alert alert-danger text-justify text-wrap">
                <span><i class="fas fa-exclamation-circle"></i></span>
                <span>The network will be deleted automatically on @(Model.View.Network.DateTimeToDelete.ToLongDateString()). Alternatively, you can extend its time until deletion to @ApplicationDbContext.DaysBeforeDelete days from today, or delete it now using the buttons below.</span>
            </div>
            <a asp-page="/CreatedData/Networks/Extend" asp-route-ids="@Model.View.Network.Id" class="btn btn-warning btn-block mb-3" title="Extend">
                <span><i class="fas fa-history"></i></span>
                <span>Extend</span>
            </a>
            <a asp-page="/CreatedData/Networks/Delete" asp-route-ids="@Model.View.Network.Id" class="btn btn-danger btn-block" title="Delete">
                <span><i class="fas fa-trash"></i></span>
                <span>Delete</span>
            </a>
        }
        else
        {
            <div class="alert alert-warning text-justify text-wrap">
                <span><i class="fas fa-exclamation-triangle"></i></span>
                <span>The network will be deleted automatically on @(Model.View.Network.DateTimeToDelete.ToLongDateString()). Alternatively, you can extend its time until deletion to @ApplicationDbContext.DaysBeforeDelete days from today using the button below.</span>
            </div>
            <a asp-page="/CreatedData/Networks/Extend" asp-route-ids="@Model.View.Network.Id" class="btn btn-warning btn-block" title="Extend">
                <span><i class="fas fa-history"></i></span>
                <span>Extend</span>
            </a>
        }
    </div>
</div>
