@model Helpers.ViewModels.EmailEmailConfirmationViewModel

<div>
    <div>
        <span>Hello @Model.Email,</span>
    </div>
    <div>
        <span>You have signed up for an account with <a href="@Model.ApplicationUrl">NetControl4BioMed</a>. Please click <a href="@Model.Url">here</a> to confirm your e-mail address, or paste the following line into a web browser.</span>
    </div>
    <div>
        <code>@Model.Url</code>
    </div>
    <div>
        <span>If it wasn't you who made this request, then this e-mail was likely sent by accident. No further action is needed on your part.</span>
    </div>
    <div>
        <span>Thank you for using our application!</span>
    </div>
    <div>
        <span>This message was sent automatically by the <a href="@Model.ApplicationUrl">NetControl4BioMed</a> application from an unmonitored address. Please do not reply to this e-mail.</span>
    </div>
</div>
