@model IEnumerable<NetControl4BioMed.Helpers.ViewModels.NavigationQuickLinkViewModel>

@if (Model != null && Model.Any())
{
    <div class="row align-items-center">
        @foreach (var navigationQuickLink in Model.Where(item => 0 < item.Width && item.Width <= 12))
        {
            <div class="col-lg-@navigationQuickLink.Width mb-3">
                <div class="card bg-@navigationQuickLink.Color text-white text-center">
                    <div class="card-body row align-items-center justify-content-around">
                        <div class="col-lg-4 my-2 my-lg-0">
                            <span><i class="fas @navigationQuickLink.Icon fa-3x"></i></span>
                        </div>
                        <div class="col-lg-8 my-2 my-lg-0">
                            <a asp-page="@navigationQuickLink.Link" asp-route-id="@navigationQuickLink.RouteId" class="btn btn-outline-light btn-block" title="@navigationQuickLink.TitlePlural">
                                <span class="font-weight-bolder">@(navigationQuickLink.ItemCount.HasValue ? $"{navigationQuickLink.ItemCount.Value}" : string.Empty)</span>
                                <span class="">@(navigationQuickLink.ItemCount == 1 ? navigationQuickLink.TitleSingular : navigationQuickLink.TitlePlural)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
