@model IEnumerable<Helpers.ViewModels.NavigationQuickLinkViewModel>

@if (Model != null && Model.Any())
{
    <div class="row align-items-center">
        @foreach (var navigationQuickLink in Model.Where(item => 0 < item.Width && item.Width <= 12))
        {
            var titlePlural = navigationQuickLink.Title == "Analysis" ? "Analyses" : navigationQuickLink.Title + "s";
            <div class="col-lg-@navigationQuickLink.Width mb-3">
                <a asp-page="@navigationQuickLink.Link" asp-route-id="@navigationQuickLink.RouteId" class="btn btn-@navigationQuickLink.Color btn-block" title="@titlePlural">
                    <span class="row align-items-center">
                        <span class="col-lg-4 my-1">
                            <span><i class="fas @navigationQuickLink.Icon fa-2x"></i></span>
                        </span>
                        <span class="col-lg-8 my-1">
                            <span class="font-weight-bold">@navigationQuickLink.ItemCount</span>
                            <span>@(navigationQuickLink.ItemCount == 1 ? navigationQuickLink.Title : titlePlural)</span>
                        </span>
                    </span>
                </a>
            </div>
        }
    </div>
}
