@model IEnumerable<NetControl4BioMed.Helpers.ViewModels.NavigationQuickLinkViewModel>

@if (Model != null && Model.Any())
{
    <div class="row align-items-center">
        @foreach (var navigationQuickLink in Model.Where(item => 0 < item.Width && item.Width <= 12))
        {
            <div class="col-lg-@navigationQuickLink.Width mb-3">
                <a asp-page="@navigationQuickLink.Link" asp-route-id="@navigationQuickLink.RouteId" class="btn btn-@navigationQuickLink.Color btn-block" title="@navigationQuickLink.TitlePlural">
                    <span class="row align-items-center">
                        <span class="col-lg-4 my-1">
                            <span><i class="fas @navigationQuickLink.Icon fa-2x"></i></span>
                        </span>
                        <span class="col-lg-8 my-1">
                            <span class="font-weight-bold">@(navigationQuickLink.ItemCount.HasValue ? $"{navigationQuickLink.ItemCount.Value}" : string.Empty)</span>
                            <span>@(navigationQuickLink.ItemCount == 1 ? navigationQuickLink.TitleSingular : navigationQuickLink.TitlePlural)</span>
                        </span>
                    </span>
                </a>
            </div>
        }
    </div>
}
