@page
@model EditModel
@{
    ViewData["Title"] = "Edit node collection";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Content/NodeCollections/Edit" class="breadcrumb-item"><span>Edit</span></a>
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Content/NodeCollections/Details" asp-route-id="@Model.View.NodeCollection.Id" class="btn btn-info btn-block" title="Details">
            <span><i class="fas fa-info-circle"></i></span>
            <span>Details</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Content/NodeCollections/Delete" asp-route-ids="@Model.View.NodeCollection.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-pencil-alt"></i></span>
            </div>
            <div>
                <span>Edit</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
            <div class="form-group">
                <label asp-for="Input.Id" class="font-weight-bold">ID</label>
                <input asp-for="Input.Id" class="form-control" readonly />
                <span asp-description-for="Input.Id" class="text-muted small">The ID of the database.</span>
                <span asp-validation-for="Input.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="font-weight-bold">Name</label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-description-for="Input.Name" class="text-muted small">The name of the database.</span>
                <span asp-validation-for="Input.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <span asp-description-for="Input.Description" class="text-muted small">The description of the database.</span>
                <span asp-validation-for="Input.Description" class="text-danger small"></span>
            </div>
            <button type="submit" class="btn btn-block btn-success" title="Update">
                <span>Update</span>
            </button>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The node collection currently contains @Model.View.NodeCollection.NodeCollectionNodes.Count() node@(Model.View.NodeCollection.NodeCollectionNodes.Count() != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Relationships/NodeCollectionNodes/Index" asp-route-searchString="@Model.View.NodeCollection.Id" asp-route-searchIn="NodeCollectionId" class="alert-link">view the current nodes</a>, or <a asp-page="/Administration/Relationships/NodeCollectionNodes/Create" asp-route-nodeCollectionString="@Model.View.NodeCollection.Name" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-share-alt"></i></span>
            </div>
            <div>
                <span>Networks</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently used by @Model.View.NodeCollection.NetworkNodeCollections.Count() network@(Model.View.NodeCollection.NetworkNodeCollections.Count() != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Content/Networks/Index" asp-route-searchString="@Model.View.NodeCollection.Id" asp-route-searchIn="NodeCollectionId" class="alert-link">view the current networks</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently used by @Model.View.NodeCollection.AnalysisNodeCollections.Count() analys@(Model.View.NodeCollection.AnalysisNodeCollections.Count() != 1 ? "e" : "i")s. You can <a asp-page="/Administration/Content/Analyses/Index" asp-route-searchString="@Model.View.NodeCollection.Id" asp-route-searchIn="NodeCollectionId" class="alert-link">view the current analyses</a>.</span>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
