@{
    Layout = "/Pages/Content/Databases/_Layout.cshtml";
}

@section Banner {
    @RenderSection("Banner", required: false)
}

@section Breadcrumbs {
    <a asp-page="/Content/Databases/DatabaseEdgeFields/Index" class="breadcrumb-item"><span>Database edge fields</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    @RenderSection("Navigation", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
