@page
@model CreateModel
@{
    ViewData["Title"] = "Create network";
}

<form method="post" class="text-justify">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-info"></i></span>
                </div>
                <div>
                    <span>Details</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>This section contains the general details of the new network.</span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Input.DatabaseTypeId" class="font-weight-bold">ID</label>
                <input asp-for="Input.DatabaseTypeId" class="form-control" readonly />
                <span asp-description-for="Input.DatabaseTypeId" class="text-muted small">The database type ID of the new network.</span>
                <span asp-validation-for="Input.DatabaseTypeId" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="font-weight-bold">Name</label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-description-for="Input.Name" class="text-muted small">The name of the new network.</span>
                <span asp-validation-for="Input.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <span asp-description-for="Input.Description" class="text-muted small">The description of the network.</span>
                <span asp-validation-for="Input.Description" class="text-danger small"></span>
            </div>
            <div class="form-group" hidden="@(Model.View.IsGeneric ? "hidden" : null)">
                <label asp-for="Input.Algorithm" class="font-weight-bold">Algorithm</label>
                <select asp-for="Input.Algorithm" class="custom-select form-control">
                    @if (Model.View.IsGeneric)
                    {
                        <option value="0">None</option>
                    }
                    else
                    {
                        <option value="1">Neighbors</option>
                        <option value="2">Gap 0</option>
                        <option value="3">Gap 1</option>
                        <option value="4">Gap 2</option>
                        <option value="5">Gap 3</option>
                        <option value="6">Gap 4</option>
                    }
                </select>
                <span asp-description-for="Input.Algorithm" class="text-muted small">The algorithm to be used in generating the network.</span>
                <span asp-validation-for="Input.Algorithm" class="text-danger small"></span>
            </div>
        </div>
    </div>
    <div class="card mb-3" hidden="@(Model.View.IsGeneric ? "hidden" : null)">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-database"></i></span>
                </div>
                <div>
                    <span>Node databases</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>This section contains the databases to be used when searching for the nodes of the network.</span>
            </div>
            <table class="table table-hover table-bordered table-datatable item-group" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-node-database-select" class="custom-control-input item-group-select" title="Select" />
                                <label for="checkbox-node-database-select" class="custom-control-label"></label>
                            </div>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var database in Model.View.NodeDatabases)
                    {
                        <tr class="item-group-item">
                            <td class="text-center text-break">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkbox-node-database-@database.Id" name="Input.NodeDatabaseIds" value="@database.Id" class="custom-control-input item-group-item-checkbox" title="Select" checked="@(Model.Input.NodeDatabaseIds.Contains(database.Id) ? "checked" : null)" />
                                    <label for="checkbox-node-database-@database.Id" class="custom-control-label"></label>
                                </div>
                            </td>
                            <td class="text-left text-break">
                                <span title="@database.Name" class="font-weight-bold">@database.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/Databases/Databases/Details" asp-route-id="@database.Id" title="Details" target="_blank" rel="nofollow noopener noreferrer">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-3" hidden="@(Model.View.IsGeneric ? "hidden" : null)">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-database"></i></span>
                </div>
                <div>
                    <span>Edge databases</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>This section contains the databases to be used when searching for the edges of the network.</span>
            </div>
            <table class="table table-hover table-bordered table-datatable item-group" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-edge-database-select" class="custom-control-input item-group-select" title="Select" />
                                <label for="checkbox-edge-database-select" class="custom-control-label"></label>
                            </div>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var database in Model.View.EdgeDatabases)
                    {
                        <tr class="item-group-item">
                            <td class="text-center text-break">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkbox-edge-database-@database.Id" name="Input.EdgeDatabaseIds" value="@database.Id" class="custom-control-input item-group-item-checkbox" title="Select" checked="@(Model.Input.EdgeDatabaseIds.Contains(database.Id) ? "checked" : null)" />
                                    <label for="checkbox-edge-database-@database.Id" class="custom-control-label"></label>
                                </div>
                            </td>
                            <td class="text-left text-break">
                                <span title="@database.Name" class="font-weight-bold">@database.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/Databases/Databases/Details" asp-route-id="@database.Id" title="Details" target="_blank" rel="nofollow noopener noreferrer">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.View.IsGeneric)
    {
        <div class="card mb-3">
            <div class="card-header font-weight-bold">
                <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                    <div>
                        <span><i class="fas fa-list"></i></span>
                    </div>
                    <div>
                        <span>Data</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-info text-justify text-wrap">
                    <span><i class="fas fa-info-circle"></i></span>
                    <span>This section contains the data to be used in generating the network. Namely, the edges of the network should be defined here.</span>
                </div>
                <div class="file-group" data-type="edges">
                    <div class="form-group" hidden>
                        <label asp-for="Input.Data" class="font-weight-bold">Edges</label>
                        <textarea asp-for="Input.Data" class="form-control file-group-input"></textarea>
                        <span asp-description-for="Input.Data" class="text-muted small">The edges of the network, formatted as a JSON object. This field should not be directly interacted with, the form entries below should be used to edit the data instead.</span>
                        <span asp-validation-for="Input.Data" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <div class="row align-items-center mb-2">
                            <div class="col-lg-4">
                                <label for="data-textarea" class="font-weight-bold mb-0">Data</label>
                                <span class="badge badge-dark file-group-count">0</span>
                            </div>
                            <div class="col-lg-8">
                                <div class="row align-items-center mb-1">
                                    <div class="col-6 col-form-label-sm text-right">
                                        <label for="data-in-line-separator" class="font-weight-normal mb-0">In-line separator:</label>
                                    </div>
                                    <div class="col-6 text-left">
                                        <select id="data-in-line-separator" class="custom-select custom-select-sm file-group-separator file-group-in-line-separator">
                                            <option value=",">comma (",")</option>
                                            <option value=";" selected>semicolon (";")</option>
                                            <option value="\t">tab ("\t")</option>
                                            <option value="\s">space (" ")</option>
                                            <option value="\n">new line ("\n")</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-6 col-form-label-sm text-right">
                                        <label for="data-line-separator" class="font-weight-normal mb-0">Line separator:</label>
                                    </div>
                                    <div class="col-6 text-left">
                                        <select id="data-line-separator" class="custom-select custom-select-sm file-group-separator file-group-line-separator">
                                            <option value=",">comma (",")</option>
                                            <option value=";">semicolon (";")</option>
                                            <option value="\t">tab ("\t")</option>
                                            <option value="\s">space (" ")</option>
                                            <option value="\n" selected>new line ("\n")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea id="data-textarea" class="form-control file-group-text mb-2"></textarea>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input file-group-file-upload" />
                            <label class="custom-file-label file-group-file-label">Choose file</label>
                        </div>
                        <span class="text-muted small">The edges of the network. The data can also be uploaded from a file. The content will appear, unchanged, above.</span>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="card mb-3">
            <div class="card-header font-weight-bold">
                <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                    <div>
                        <span><i class="fas fa-list"></i></span>
                    </div>
                    <div>
                        <span>Data</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-info text-justify text-wrap">
                    <span><i class="fas fa-info-circle"></i></span>
                    <span>This section contains the data to be used in generating the network. Namely, the seed nodes used to generate the network should be defined here.</span>
                </div>
                <div class="file-group" data-type="nodes">
                    <div class="form-group" hidden>
                        <label asp-for="Input.Data" class="font-weight-bold">Seed nodes</label>
                        <textarea asp-for="Input.Data" class="form-control file-group-input"></textarea>
                        <span asp-description-for="Input.Data" class="text-muted small">The nodes to be used as seed nodes when generating the network, formatted as a JSON string array. This field should not be directly interacted with, the form entries below should be used to edit the data instead.</span>
                        <span asp-validation-for="Input.Data" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <div class="row align-items-center mb-2">
                            <div class="col-lg-4">
                                <label for="data-textarea" class="font-weight-bold mb-0">Data</label>
                                <span class="badge badge-dark file-group-count">0</span>
                            </div>
                            <div class="col-lg-8">
                                <div class="row align-items-center">
                                    <div class="col-6 col-form-label-sm text-right">
                                        <label for="data-line-separator" class="font-weight-normal mb-0">Line separator:</label>
                                    </div>
                                    <div class="col-6 text-left">
                                        <select id="data-line-separator" class="custom-select custom-select-sm file-group-separator file-group-line-separator">
                                            <option value=",">comma (",")</option>
                                            <option value=";">semicolon (";")</option>
                                            <option value="\t">tab ("\t")</option>
                                            <option value="\s">space (" ")</option>
                                            <option value="\n" selected>new line ("\n")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <textarea id="data-textarea" class="form-control file-group-text mb-2"></textarea>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input file-group-file-upload" />
                            <label class="custom-file-label file-group-file-label">Choose file</label>
                        </div>
                        <span class="text-muted small">The seed nodes of the network. The data can also be uploaded from a file. The content will appear, unchanged, above.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header font-weight-bold">
                <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                    <div>
                        <span><i class="fas fa-folder"></i></span>
                    </div>
                    <div>
                        <span>Seed node collections</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="alert alert-info text-justify text-wrap">
                    <span><i class="fas fa-info-circle"></i></span>
                    <span>This section contains the node collections which can be used as additional seed nodes when generating the network.</span>
                </div>
                <table class="table table-hover table-bordered table-datatable item-group" data-order="[[1]]">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkbox-seed-node-collection-select" class="custom-control-input item-group-select" title="Select" />
                                    <label for="checkbox-seed-node-collection-select" class="custom-control-label"></label>
                                </div>
                            </th>
                            <th class="text-left text-break">
                                <span>Node collection</span>
                            </th>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                <span>Links</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var nodeCollection in Model.View.SeedNodeCollections)
                        {
                            <tr class="item-group-item">
                                <td class="text-center text-break">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="checkbox-seed-node-collection-@nodeCollection.Id" name="Input.SeedNodeCollectionIds" value="@nodeCollection.Id" class="custom-control-input item-group-item-checkbox" title="Select" checked="@(Model.Input.SeedNodeCollectionIds.Contains(nodeCollection.Id) ? "checked" : null)" />
                                        <label for="checkbox-seed-node-collection-@nodeCollection.Id" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td class="text-left text-break">
                                    <span title="@nodeCollection.Name" class="font-weight-bold">@nodeCollection.Name</span>
                                </td>
                                <td class="text-center text-break">
                                    <a asp-page="/Content/Data/NodeCollections/Details" asp-route-id="@nodeCollection.Id" title="Details" target="_blank" rel="nofollow noopener noreferrer">
                                        <span>Details</span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    <button type="submit" class="btn btn-block btn-success" title="Create">
        <span>Create</span>
    </button>
</form>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
