@page
@model DetailsModel
@{
    ViewData["Title"] = "Database edge field details";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Databases/DatabaseEdgeFields/Details" class="breadcrumb-item"><span>Details</span></a>
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/DatabaseEdgeFields/Edit" asp-route-id="@Model.View.DatabaseEdgeField.Id" class="btn btn-warning btn-block" title="Edit">
            <span><i class="fas fa-pencil-alt"></i></span>
            <span>Edit</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/DatabaseEdgeFields/Delete" asp-route-ids="@Model.View.DatabaseEdgeField.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.DatabaseEdgeField.Id" class="form-control" readonly />
                <span asp-description-for="View.DatabaseEdgeField.Id" class="text-muted small">The ID of the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.DatabaseEdgeField.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.DatabaseEdgeField.DateTimeCreated" class="text-muted small">The date and time when the database edge field was created.</span>
                <span asp-validation-for="View.DatabaseEdgeField.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.DatabaseEdgeField.Name" class="form-control" readonly />
                <span asp-description-for="View.DatabaseEdgeField.Name" class="text-muted small">The name of the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.DatabaseEdgeField.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.DatabaseEdgeField.Description" class="text-muted small">The description of the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.Url" class="font-weight-bold">URL</label>
                <div class="input-group">
                    <input asp-for="View.DatabaseEdgeField.Url" class="form-control" readonly />
                    @if (!string.IsNullOrEmpty(Model.View.DatabaseEdgeField.Url))
                    {
                        <div class="input-group-append">
                            <a href="@Model.View.DatabaseEdgeField.Url" class="btn btn-primary">
                                <span><i class="fas fa-external-link-alt"></i></span>
                            </a>
                        </div>
                    }
                </div>
                <span asp-description-for="View.DatabaseEdgeField.Url" class="text-muted small">The URL of the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.Url" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.IsSearchable" class="font-weight-bold">Set the database edge field as searchable?</label>
                <input asp-for="View.DatabaseEdgeField.IsSearchable" type="text" class="form-control" readonly />
                <span asp-description-for="View.DatabaseEdgeField.IsSearchable" class="text-muted small">The possibility to identify edges based on the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.IsSearchable" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseEdgeField.Database.Name" class="font-weight-bold">Database</label>
                <div class="input-group">
                    <input asp-for="View.DatabaseEdgeField.Database.Name" class="form-control" readonly />
                    <div class="input-group-append">
                        <a asp-page="/Administration/Databases/Databases/Details" asp-route-id="@Model.View.DatabaseEdgeField.Database.Id" class="btn btn-info">
                            <span><i class="fas fa-info-circle"></i></span>
                        </a>
                    </div>
                </div>
                <span asp-description-for="View.DatabaseEdgeField.Database.Name" class="text-muted small">The database containing the database edge field.</span>
                <span asp-validation-for="View.DatabaseEdgeField.Database.Name" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <a asp-page="/Administration/Relationships/DatabaseEdgeFieldEdges/Index" asp-route-searchString="@Model.View.DatabaseEdgeField.Id" asp-route-searchIn="DatabaseEdgeFieldId" class="btn btn-info btn-block mb-3">
            <span>View all</span>
        </a>
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database edge field currently contains @Model.View.DatabaseEdgeField.DatabaseEdgeFieldEdges.Select(item => item.Edge).Distinct().Count() distinct edge@(Model.View.DatabaseEdgeField.DatabaseEdgeFieldEdges.Select(item => item.Edge).Distinct().Count() != 1 ? "s" : string.Empty) with @Model.View.DatabaseEdgeField.DatabaseEdgeFieldEdges.Count() value@(Model.View.DatabaseEdgeField.DatabaseEdgeFieldEdges.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
