@page
@model IndexModel
@{
    ViewData["Title"] = "Network protein collections";
}

<partial name="_SearchInputPartial" model="Model.View.Search.Input" />
<partial name="_SearchFiltersPartial" model="Model.View.Search.Filters" />
@if (!Model.View.Search.Items.Any())
{
    <div class="alert alert-info text-justify text-wrap">
        <span><i class="fas fa-info-circle"></i></span>
        <span>No protein collections have been found@(Model.View.Search.Filters.Any() ? " matching the applied filters" : string.Empty).</span>
    </div>
}
else
{
    <table class="table table-hover table-bordered" data-paging="false" data-info="false" data-searching="false">
        <thead class="thead-light">
            <tr>
                <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                    <span>#</span>
                </th>
                <th class="text-left text-break">
                    <span>Name</span>
                </th>
                <th class="text-center text-break">
                    <span>Type</span>
                </th>
                <th class="text-center text-break" data-orderable="false" data-searchable="false">
                    <span>Links</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (item, index) in Model.View.Search.Items.Select((item, index) => (item, index)))
            {
                <tr>
                    <td class="text-center text-break">
                        <span>@(Model.View.Search.Pagination.ItemsPerPageFirst + index)</span>
                    </td>
                    <td class="text-left text-break">
                        <span title="@item.NodeCollection.Name" class="font-weight-bold">@item.NodeCollection.Name</span>
                        <br />
                        <span title="@item.NodeCollection.Id" class="small text-muted">@item.NodeCollection.Id</span>
                    </td>
                    <td class="d-none d-lg-table-cell text-center text-break">
                        <partial name="_NetworkNodeCollectionTypePartial" model="@item.Type" />
                    </td>
                    <td class="text-center text-break">
                        <a asp-page="/Content/DatabaseTypes/PPI/Data/NodeCollections/Details" asp-route-id="@item.NodeCollection.Id" class="btn btn-info m-1" title="Details">
                            <span><i class="fas fa-info-circle"></i></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_SearchPaginationPartial" model="Model.View.Search.Pagination" />
}
