@page
@model IndexModel
@{
    ViewData["Title"] = "Database edges";
}

<partial name="_SearchInputPartial" model="Model.View.Search.Input" />
<partial name="_SearchFiltersPartial" model="Model.View.Search.Filters" />
<form method="get" class="text-justify">
    <div class="row align-items-center">
        <div class="col-lg-12 mb-3">
            <button type="submit" asp-page="/Administration/Data/Interactions/Update" class="btn btn-primary btn-block item-group-button" title="Update" disabled>
                <span><i class="fas fa-code"></i></span>
                <span>Edit or delete selected items</span>
            </button>
        </div>
    </div>
    @if (!Model.View.Search.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No items have been found@(Model.View.Search.Filters.Any() ? " matching the applied filters" : string.Empty). <a asp-page="/Administration/Data/Interactions/Update" asp-route-type="Create" title="Create" class="alert-link">Create a new one?</a></span>
        </div>
    }
    else
    {
        <table class="table table-hover table-bordered item-group" data-paging="false" data-info="false" data-searching="false">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="select" class="custom-control-input item-group-select" title="Select" />
                            <label for="select" class="custom-control-label"></label>
                        </div>
                    </th>
                    <th class="text-left text-break">
                        <span>Database</span>
                    </th>
                    <th class="text-left text-break">
                        <span>Interaction</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Actions</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.View.Search.Items)
                {
                    <tr class="item-group-item">
                        <td class="text-center text-break">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-@item.Database.Id-@item.Interaction.Id" name="ids" value="@item.Interaction.Id" class="custom-control-input item-group-item-checkbox" title="Select" />
                                <label for="checkbox-@item.Database.Id-@item.Interaction.Id" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <div>
                                <a asp-page="/Administration/Databases/Databases/Details" asp-route-id="@item.Database.Id" class="font-weight-bold" title="@item.Database.Name">@item.Database.Name</a>
                            </div>
                            <div>
                                <span class="small" title="@item.Database.Id">@item.Database.Id</span>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <div>
                                <a asp-page="/Administration/Data/Interactions/Details" asp-route-id="@item.Interaction.Id" class="font-weight-bold" title="@item.Interaction.Name">@item.Interaction.Name</a>
                            </div>
                            <div>
                                <span class="small" title="@item.Interaction.Id">@item.Interaction.Id</span>
                            </div>
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Administration/Data/Interactions/Update" asp-route-type="Edit" asp-route-ids="@item.Interaction.Id" class="btn btn-warning m-1" title="Edit">
                                <span><i class="fas fa-pencil-alt"></i></span>
                            </a>
                            <a asp-page="/Administration/Data/Interactions/Update" asp-route-type="Delete" asp-route-ids="@item.Interaction.Id" class="btn btn-danger m-1" title="Delete">
                                <span><i class="fas fa-trash"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_SearchPaginationPartial" model="Model.View.Search.Pagination" />
    }
</form>
