@{
    Layout = "/Pages/_Layout.cshtml";
}

@section Banner {
    <partial name="_NavigationBannerPartial" model="@Helpers.ViewModels.NavigationBannerViewModel.ContentNavigationBanner" />
    @RenderSection("Banner", required: false)
}

@section Breadcrumbs {
    <a asp-page="/Content/Index" class="breadcrumb-item"><span>Content</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@Helpers.ViewModels.NavigationAreaViewModel.ContentNavigationArea" />
    @RenderSection("Navigation", required: false)
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
