@page
@model DetailsModel
@{
    ViewData["Title"] = "Sample details";
}

<partial name="_NavigationTitleCardPartial" model="@Helpers.ViewModels.NavigationTitleCardViewModel.GetSampleNavigationTitleCard(Model.View.Sample)" />
@if (User.IsInRole("Administrator"))
{
    <a asp-page="/Administration/Other/Samples/Details" asp-route-id="@Model.View.Sample.Id" class="btn btn-info btn-block mb-3" title="Details">
        <span><i class="fas fa-info-circle"></i></span>
        <span>Details</span>
    </a>
}
<div class="card mb-3" title="Type">
    <div class="card-body text-center">
        <partial name="_SampleTypePartial" model="@Model.View.Sample.Type" />
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.View.Sample.Description))
{
    <div class="card mb-3">
        <div class="card-body text-justify small">
            <span title="Description">@Model.View.Sample.Description</span>
        </div>
    </div>
}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-list"></i></span>
            </div>
            <div>
                <span>Data</span>
            </div>
        </div>
    </div>
    <div class="card-body copy-group">
        @if (string.IsNullOrEmpty(Model.View.Sample.Data))
        {
            <div class="alert alert-danger text-justify text-wrap mb-0">
                <span><i class="fas fa-exclamation-circle"></i></span>
                <span>There is no data currently assigned.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>This is the data of the sample, you can click the buttons below to automatically select it all (and then copy it directly to the clipboard) or to download it.</span>
            </div>
            <div class="form-group">
                <label asp-for="View.Sample.Data" class="font-weight-bold">Data</label>
                <textarea asp-for="View.Sample.Data" class="form-control copy-group-data" rows="5" readonly></textarea>
                <span asp-description-for="View.Sample.Data" class="text-muted small">The data of the sample.</span>
                <span asp-validation-for="View.Sample.Data" class="text-danger small"></span>
            </div>
            <button type="button" class="btn btn-info btn-block mb-3 copy-group-button" title="Copy">
                <span><i class="fas fa-i-cursor"></i></span>
                <span>Select all</span>
            </button>
            <a asp-page="/Content/DatabaseTypes/Default/Other/Samples/Download" asp-route-ids="@Model.View.Sample.Id" class="btn btn-primary btn-block" title="Download">
                <span><i class="fas fa-download"></i></span>
                <span>Download</span>
            </a>
        }
    </div>
</div>
