@page
@model UploadModel
@{
    ViewData["Title"] = "Create network";
}

@if (Model.View.SampleItems != null && Model.View.SampleItems.Any())
{
    <form method="get" class="text-justify">
        <div class="alert alert-dark text-wrap text-justify form-file-group-alert">
            <span class="form-file-group-alert-icon"><i class="fas fa-info-circle"></i></span>
            <span class="form-file-group-alert-text">Optionally, select an available sample in order to automatically fill in the form.</span>
        </div>
        <div class="input-group mb-3">
            <select name="sampleId" class="custom-select">
                <option value="" title="Select a sample to load" selected hidden disabled>Select a sample to load</option>
                @foreach (var sampleItem in Model.View.SampleItems)
                {
                    <option value="@sampleItem.Id" title="@sampleItem.Description">@sampleItem.Name</option>
                }
            </select>
            <div class="input-group-append">
                <button asp-page="/Content/DatabaseTypes/PPI/Created/Networks/Upload" type="submit" class="btn btn-dark btn-block" title="Load the selected sample">
                    <span><i class="fas fa-cloud-upload-alt"></i></span>
                    <span>Load sample</span>
                </button>
            </div>
        </div>
    </form>
}
<form method="post" class="text-justify">
    <div class="form-file-group" data-type="network" data-database-type="ppi">
        <div class="alert alert-dark text-wrap text-justify">
            <span><i class="fas fa-info-circle"></i></span>
            <span>Optionally, select a JSON file containing a previously created network in order to automatically fill in the form and recreate it.</span>
        </div>
        <div class="alert text-wrap text-justify form-file-group-alert" hidden>
            <span class="form-file-group-alert-icon"></span>
            <span class="form-file-group-alert-text"></span>
        </div>
        <div class="form-group">
            <textarea id="data-textarea-upload" class="form-control form-file-group-text mb-2" hidden></textarea>
            <div class="custom-file">
                <input type="file" accept=".json" class="custom-file-input form-file-group-file-upload" />
                <label class="custom-file-label form-file-group-file-label text-truncate">Select a file to load</label>
            </div>
        </div>
    </div>
    <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-info-circle"></i></span>
                </div>
                <div>
                    <span>Details</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>Input here the general details of the new network.</span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="font-weight-bold">Name</label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-description-for="Input.Name" class="text-muted small">The name of the new network.</span>
                <span asp-validation-for="Input.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="Input.Description" class="form-control"></textarea>
                <span asp-description-for="Input.Description" class="text-muted small">The description of the new network.</span>
                <span asp-validation-for="Input.Description" class="text-danger small"></span>
            </div>
            <div class="form-group" hidden="@(Model.View.IsUserAuthenticated ? null : "hidden")">
                <label asp-for="Input.IsPublic" class="font-weight-bold">Set the network as public?</label>
                <select asp-for="Input.IsPublic" class="custom-select form-control">
                    <option value="false" selected="@(Model.View.IsUserAuthenticated ? "selected" : null)">No</option>
                    <option value="true" selected="@(Model.View.IsUserAuthenticated ? null : "selected")">Yes</option>
                </select>
                <span asp-description-for="Input.IsPublic" class="text-muted small">The public availability of the network. If public, anyone that has its ID or URL can access it.</span>
                <span asp-validation-for="Input.IsPublic" class="text-danger small"></span>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-database"></i></span>
                </div>
                <div>
                    <span>Protein databases</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>Input here the IDs of the protein databases to be used by the new network. The chosen protein databases must match the identifiers used to define the seed proteins. You can check the available databases <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Index" asp-route-filter="HasDatabaseNodes" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">here</a> and copy and paste below the IDs of your choice.</span>
            </div>
            <div class="alert alert-warning text-justify text-wrap">
                <span><i class="fas fa-exclamation-triangle"></i></span>
                <span>This field requires IDs.</span>
            </div>
            <div class="file-group" data-type="items">
                <div class="form-group" hidden>
                    <label asp-for="Input.NodeDatabaseData" class="font-weight-bold">Node database IDs</label>
                    <textarea asp-for="Input.NodeDatabaseData" class="form-control file-group-input"></textarea>
                    <span asp-description-for="Input.NodeDatabaseData" class="text-muted small">The IDs of the node databases to be used by the new network, formatted as a JSON string array. This field should not be directly interacted with, the form entries below should be used to edit the data instead.</span>
                    <span asp-validation-for="Input.NodeDatabaseData" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-4">
                            <label for="data-textarea-node-database" class="font-weight-bold mb-0">Protein database IDs</label>
                            <span class="badge badge-dark file-group-count">0</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="row align-items-center">
                                <div class="col-6 col-form-label-sm text-right">
                                    <label for="data-line-separator-node-database" class="font-weight-normal mb-0">Line separator:</label>
                                </div>
                                <div class="col-6 text-left">
                                    <select id="data-line-separator-node-database" class="custom-select custom-select-sm file-group-separator file-group-line-separator">
                                        <option value=",">comma (",")</option>
                                        <option value=";">semicolon (";")</option>
                                        <option value="\t">tab ("\t")</option>
                                        <option value="\s">space (" ")</option>
                                        <option value="\n" selected>new line ("\n")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="data-textarea-node-database" class="form-control file-group-text mb-2"></textarea>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input file-group-file-upload" />
                        <label class="custom-file-label file-group-file-label">Choose file</label>
                    </div>
                    <span class="text-muted small">The IDs of the protein databases to be used by the new network. The data can also be uploaded from a file; in this case, the file content will be displayed, unchanged, above.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-database"></i></span>
                </div>
                <div>
                    <span>Interaction databases</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>Input here the IDs of the interaction databases to be used by the new network. You can check the available databases <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Index" asp-route-filter="HasDatabaseEdges" class="alert-link" target="_blank" rel="nofollow noopener noreferrer">here</a> and copy and paste below the IDs of your choice.</span>
            </div>
            <div class="alert alert-warning text-justify text-wrap">
                <span><i class="fas fa-exclamation-triangle"></i></span>
                <span>This field requires IDs.</span>
            </div>
            <div class="file-group" data-type="items">
                <div class="form-group" hidden>
                    <label asp-for="Input.EdgeDatabaseData" class="font-weight-bold">Edge database IDs</label>
                    <textarea asp-for="Input.EdgeDatabaseData" class="form-control file-group-input"></textarea>
                    <span asp-description-for="Input.EdgeDatabaseData" class="text-muted small">The IDs of the edge databases to be used by the new network, formatted as a JSON string array. This field should not be directly interacted with, the form entries below should be used to edit the data instead.</span>
                    <span asp-validation-for="Input.EdgeDatabaseData" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-4">
                            <label for="data-textarea-edge-database" class="font-weight-bold mb-0">Interaction database IDs</label>
                            <span class="badge badge-dark file-group-count">0</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="row align-items-center">
                                <div class="col-6 col-form-label-sm text-right">
                                    <label for="data-line-separator-edge-database" class="font-weight-normal mb-0">Line separator:</label>
                                </div>
                                <div class="col-6 text-left">
                                    <select id="data-line-separator-edge-database" class="custom-select custom-select-sm file-group-separator file-group-line-separator">
                                        <option value=",">comma (",")</option>
                                        <option value=";">semicolon (";")</option>
                                        <option value="\t">tab ("\t")</option>
                                        <option value="\s">space (" ")</option>
                                        <option value="\n" selected>new line ("\n")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="data-textarea-edge-database" class="form-control file-group-text mb-2"></textarea>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input file-group-file-upload" />
                        <label class="custom-file-label file-group-file-label">Choose file</label>
                    </div>
                    <span class="text-muted small">The IDs of the interaction databases to be used by the new network. The data can also be uploaded from a file; in this case, the file content will be displayed, unchanged, above.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-list"></i></span>
                </div>
                <div>
                    <span>Interactions</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>Input here the interactions of the new network, as pairs of proteins using their identifiers. The identifiers must match the chosen protein databases.</span>
            </div>
            <div class="file-group" data-type="edges">
                <div class="form-group" hidden>
                    <label asp-for="Input.SeedEdgeData" class="font-weight-bold">Data</label>
                    <textarea asp-for="Input.SeedEdgeData" class="form-control file-group-input"></textarea>
                    <span asp-description-for="Input.SeedEdgeData" class="text-muted small">The interactions of the new network, formatted as a JSON object. This field should not be directly interacted with, the form entries below should be used to edit the data instead.</span>
                    <span asp-validation-for="Input.SeedEdgeData" class="text-danger small"></span>
                </div>
                <div class="form-group">
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-4">
                            <label for="data-textarea-seed-edge" class="font-weight-bold mb-0">Interactions</label>
                            <span class="badge badge-dark file-group-count">0</span>
                        </div>
                        <div class="col-lg-8">
                            <div class="row align-items-center mb-1">
                                <div class="col-6 col-form-label-sm text-right">
                                    <label for="data-in-line-separator-seed" class="font-weight-normal mb-0">In-line separator:</label>
                                </div>
                                <div class="col-6 text-left">
                                    <select id="data-in-line-separator-seed" class="custom-select custom-select-sm file-group-separator file-group-in-line-separator">
                                        <option value=",">comma (",")</option>
                                        <option value=";" selected>semicolon (";")</option>
                                        <option value="\t">tab ("\t")</option>
                                        <option value="\s">space (" ")</option>
                                        <option value="\n">new line ("\n")</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 col-form-label-sm text-right">
                                    <label for="data-line-separator-seed" class="font-weight-normal mb-0">Line separator:</label>
                                </div>
                                <div class="col-6 text-left">
                                    <select id="data-line-separator-seed" class="custom-select custom-select-sm file-group-separator file-group-line-separator">
                                        <option value=",">comma (",")</option>
                                        <option value=";">semicolon (";")</option>
                                        <option value="\t">tab ("\t")</option>
                                        <option value="\s">space (" ")</option>
                                        <option value="\n" selected>new line ("\n")</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <textarea id="data-textarea-seed-edge" class="form-control file-group-text mb-2"></textarea>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input file-group-file-upload" />
                        <label class="custom-file-label file-group-file-label">Choose file</label>
                    </div>
                    <span class="text-muted small">The interactions of the new network. The data can also be uploaded from a file; in this case, the file content will appear, unchanged, above.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Input.ReCaptchaToken" class="font-weight-bold">reCaptcha token</label>
        <input asp-for="Input.ReCaptchaToken" class="form-control recaptcha-input" />
        <span asp-description-for="Input.ReCaptchaToken" class="text-muted small">The reCaptcha token corresponding to the current request.</span>
        <span asp-validation-for="Input.ReCaptchaToken" class="text-danger small"></span>
    </div>
    <button type="submit" class="btn btn-block btn-success" title="Create">
        <span><i class="fas fa-plus"></i></span>
        <span>Create</span>
    </button>
</form>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
    <partial name="_ScriptsReCaptchaPartial" />
}
