@page
@model DetailsModel
@{
    ViewData["Title"] = "Edge details";
}

<partial name="_NavigationTitleCardPartial" model="@Helpers.ViewModels.NavigationTitleCardViewModel.GetEdgeNavigationTitleCard(Model.View.Edge)" />
@if (User.IsInRole("Administrator"))
{
    <a asp-page="/Administration/Data/Edges/Details" asp-route-id="@Model.View.Edge.Id" class="btn btn-info btn-block mb-3" title="Details">
        <span><i class="fas fa-info-circle"></i></span>
        <span>Details</span>
    </a>
}
@if (!string.IsNullOrEmpty(Model.View.Edge.Description))
{
    <div class="card mb-3">
        <div class="card-body text-justify small">
            <span title="Description">@Model.View.Edge.Description</span>
        </div>
    </div>
}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.DatabaseEdges.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no databases currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Internal</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>External</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var databaseEdge in Model.View.DatabaseEdges)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@databaseEdge.Database.Name">@databaseEdge.Database.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/Databases/Databases/Details" asp-route-id="@databaseEdge.Database.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                            <td class="text-center text-break">
                                @if (!string.IsNullOrEmpty(databaseEdge.Database.Url))
                                {
                                    <a href="@databaseEdge.Database.Url" title="Website" target="_blank" rel="nofollow noopener noreferrer">
                                        <span>Website</span>
                                    </a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-table"></i></span>
            </div>
            <div>
                <span>Fields</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.DatabaseEdgeFieldEdges.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no fields currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Field</span>
                        </th>
                        <th class="text-center text-break">
                            <span>Value</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Internal</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>External</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var databaseEdgeFieldEdge in Model.View.DatabaseEdgeFieldEdges)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@databaseEdgeFieldEdge.DatabaseEdgeField.Name">@databaseEdgeFieldEdge.DatabaseEdgeField.Name</span>
                            </td>
                            <td class="text-center text-break">
                                <span title="@databaseEdgeFieldEdge.Value">@databaseEdgeFieldEdge.Value</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/Databases/DatabaseEdgeFields/Details" asp-route-id="@databaseEdgeFieldEdge.DatabaseEdgeField.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                            <td class="text-center text-break">
                                @if (!string.IsNullOrEmpty(databaseEdgeFieldEdge.DatabaseEdgeField.Url))
                                {
                                    <a href="@databaseEdgeFieldEdge.DatabaseEdgeField.Url@databaseEdgeFieldEdge.Value" title="Details" target="_blank" rel="nofollow noopener noreferrer">
                                        <span>Details</span>
                                    </a>
                                }
                                else
                                {
                                    <span>-</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.EdgeNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no nodes currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Node</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Type</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var edgeNode in Model.View.EdgeNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@edgeNode.Node.Name">@edgeNode.Node.Name</span>
                            </td>
                            <td class="text-left text-break">
                                <span title="@edgeNode.Type.ToString()">@edgeNode.Type.ToString()</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Content/Data/Nodes/Details" asp-route-id="@edgeNode.Node.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
