@page
@model DetailsModel
@{
    ViewData["Title"] = "Network details";
}

<div class="row align-items-center">
    <div class="col-lg-12 mb-3">
        <a asp-page="/Administration/Created/Networks/Delete" asp-route-ids="@Model.View.Network.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.Network.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.Network.Id" class="form-control" readonly />
                <span asp-description-for="View.Network.Id" class="text-muted small">The ID of the network.</span>
                <span asp-validation-for="View.Network.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.Network.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.Network.DateTimeCreated" class="text-muted small">The date and time when the network was created.</span>
                <span asp-validation-for="View.Network.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.Network.Name" class="form-control" readonly />
                <span asp-description-for="View.Network.Name" class="text-muted small">The name of the network.</span>
                <span asp-validation-for="View.Network.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.Network.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.Network.Description" class="text-muted small">The description of the network.</span>
                <span asp-validation-for="View.Network.Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.IsPublic" class="font-weight-bold">Set the network as public?</label>
                <input asp-for="View.Network.IsPublic" type="text" class="form-control" readonly />
                <span asp-description-for="View.Network.IsPublic" class="text-muted small">The public availability of the network.</span>
                <span asp-validation-for="View.Network.IsPublic" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Algorithm" class="font-weight-bold">Algorithm</label>
                <input asp-for="View.Network.Algorithm" class="form-control" readonly />
                <span asp-description-for="View.Network.Algorithm" class="text-muted small">The algorithm used to generate the network.</span>
                <span asp-validation-for="View.Network.Algorithm" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user"></i></span>
            </div>
            <div>
                <span>Users</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.UserCount user@(Model.View.UserCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user"></i></span>
            </div>
            <div>
                <span>User invitations</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.UserInvitationCount user invitation@(Model.View.UserInvitationCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.DatabaseCount database@(Model.View.DatabaseCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network currently contains @Model.View.NodeCount node@(Model.View.NodeCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network currently contains @Model.View.EdgeCount edge@(Model.View.EdgeCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-folder"></i></span>
            </div>
            <div>
                <span>Node collections</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.NodeCollectionCount node collection@(Model.View.NodeCollectionCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.AnalysisCount analys@(Model.View.AnalysisCount != 1 ? "e" : "i")s.</span>
        </div>
    </div>
</div>
