@page
@model RemoveModel
@{
    ViewData["Title"] = "Remove network users";
}

<div class="alert alert-danger text-justify text-wrap">
    <span><i class="fas fa-exclamation-circle"></i></span>
    <span>The following @Model.View.Items.Count() user@(Model.View.Items.Count() != 1 ? "s" : string.Empty) will be removed from the network. <span class="font-weight-bold">They can be added again at a later time by any user that still has access to the network!</span></span>
</div>
@if (Model.View.IsCurrentUserSelected)
{
    <div class="alert alert-danger text-justify text-wrap">
        <span><i class="fas fa-exclamation-circle"></i></span>
        <span><span class="font-weight-bold">If you proceed, you will lose access to the network!</span> If you would like to access the network again at a later time, you will have to be added again by any user that still has access to it.</span>
    </div>
}
@if (Model.View.AreAllUsersSelected)
{
    <div class="alert alert-danger text-justify text-wrap">
        <span><i class="fas fa-exclamation-circle"></i></span>
        <span>If you proceed, all registered users that have access to the network will be removed from it. <span class="font-weight-bold">This will delete the network, together with all of the associated data. This action can't be reversed.</span></span>
    </div>
}
<form method="post" class="text-justify">
    <div class="form-group" hidden>
        <label asp-for="Input.Id" class="font-weight-bold">ID</label>
        <input asp-for="Input.Id" class="form-control" readonly />
        <span asp-description-for="Input.Id" class="text-muted small">The ID of the current network.</span>
        <span asp-validation-for="Input.Id" class="text-danger small"></span>
    </div>
    <button type="submit" class="btn btn-danger btn-block item-group-button mb-3" title="Delete">
        <span><i class="fas fa-trash"></i></span>
        <span>Delete</span>
    </button>
    @if (!Model.View.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No users have been found with the provided e-mails.</span>
        </div>
    }
    else
    {
        <div class="card">
            <div class="card-header font-weight-bold">
                <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                    <div>
                        <span><i class="fas fa-trash"></i></span>
                    </div>
                    <div>
                        <span>Delete</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-striped table-bordered table-datatable" data-order="[[2]]">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false" hidden>
                                <span></span>
                            </th>
                            <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                                <span>#</span>
                            </th>
                            <th class="text-left text-break">
                                <span>User</span>
                            </th>
                            <th class="d-none d-lg-table-cell text-center text-break">
                                <span>Date</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.View.Items)
                        {
                            <tr>
                                <td class="text-center text-break" hidden>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="checkbox-@item.Email" name="Input.Emails" value="@item.Email" class="custom-control-input" title="Select" checked="checked" />
                                        <label for="checkbox-@item.Email" class="custom-control-label"></label>
                                    </div>
                                </td>
                                <td class="text-center text-break">
                                    <span></span>
                                </td>
                                <td class="text-left text-break">
                                    <span title="@item.Email" class="font-weight-bold">@item.Email</span>
                                </td>
                                <td class="d-none d-lg-table-cell text-center text-break">
                                    <div>
                                        <span title="@item.DateTimeCreated.ToShortDateString()">@item.DateTimeCreated.ToShortDateString()</span>
                                    </div>
                                    <div>
                                        <span title="@item.DateTimeCreated.ToShortTimeString()">@item.DateTimeCreated.ToShortTimeString()</span>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</form>
