@page
@model DetailsModel
@{
    ViewData["Title"] = "Database type details";
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/DatabaseTypes/Edit" asp-route-id="@Model.View.DatabaseType.Id" class="btn btn-warning btn-block" title="Edit">
            <span><i class="fas fa-pencil-alt"></i></span>
            <span>Edit</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/DatabaseTypes/Delete" asp-route-ids="@Model.View.DatabaseType.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.DatabaseType.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.DatabaseType.Id" class="form-control" readonly />
                <span asp-description-for="View.DatabaseType.Id" class="text-muted small">The ID of the database type.</span>
                <span asp-validation-for="View.DatabaseType.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseType.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.DatabaseType.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.DatabaseType.DateTimeCreated" class="text-muted small">The date and time when the database type was created.</span>
                <span asp-validation-for="View.DatabaseType.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseType.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.DatabaseType.Name" class="form-control" readonly />
                <span asp-description-for="View.DatabaseType.Name" class="text-muted small">The name of the database type.</span>
                <span asp-validation-for="View.DatabaseType.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.DatabaseType.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.DatabaseType.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.DatabaseType.Description" class="text-muted small">The description of the database type.</span>
                <span asp-validation-for="View.DatabaseType.Description" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database type is currently assigned to @Model.View.DatabaseCount database@(Model.View.DatabaseCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Databases/Databases/Index" asp-route-searchString="@Model.View.DatabaseType.Id" asp-route-searchIn="DatabaseTypeId" class="alert-link">view the databases</a>, or <a asp-page="/Administration/Databases/Databases/Create" asp-route-databaseTypeId="@Model.View.DatabaseType.Id" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
