@page
@model IndexModel
@{
    ViewData["Title"] = "Analysis users";
}

@if (Model.View.Analysis.IsPublic)
{
    <div class="alert alert-info text-justify text-wrap">
        <span><i class="fas fa-info-circle"></i></span>
        <span>As the analysis is public, in addition to the users listed below, anyone that has its ID or URL can access it.</span>
    </div>
}
<partial name="_SearchInputPartial" model="Model.View.Search.Input" />
<partial name="_SearchFiltersPartial" model="Model.View.Search.Filters" />
<form method="get" class="text-justify">
    <div class="form-group" hidden>
        <label for="network-id" class="font-weight-bold">ID</label>
        <input id="network-id" name="id" class="form-control" value="@Model.View.Analysis.Id" readonly />
        <span description-for="network-id" class="text-muted small">The ID of the current network.</span>
        <span validation-for="network-id" class="text-danger small"></span>
    </div>
    <div class="row align-items-center">
        <div class="col-lg-6 mb-3">
            <a asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Details/Accounts/Users/Add" asp-route-id="@Model.View.Analysis.Id" class="btn btn-success btn-block @(Model.View.IsUserAuthenticated ? string.Empty : "disabled")" title="Add">
                <span><i class="fas fa-user-plus"></i></span>
                <span>Add a new user</span>
            </a>
        </div>
        <div class="col-lg-6 mb-3">
            <button type="submit" asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Details/Accounts/Users/Remove" asp-route-id="@Model.View.Analysis.Id" class="btn btn-danger btn-block item-group-button" title="Remove" disabled>
                <span><i class="fas fa-user-minus"></i></span>
                <span>Remove selected users</span>
            </button>
        </div>
    </div>
    @if (!Model.View.IsUserAuthenticated)
    {
        <div class="alert alert-warning text-justify text-wrap">
            <span><i class="fas fa-exclamation-triangle"></i></span>
            <span>For security reasons, you can't view the users with access to the analysis if you are not logged in.</span>
        </div>
    }
    else if (!Model.View.Search.Items.Any())
    {
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>No users have been found@(Model.View.Search.Filters.Any() ? " matching the applied filters" : string.Empty).</span>
        </div>
    }
    else
    {
        <table class="table table-hover table-bordered item-group" data-paging="false" data-info="false" data-searching="false">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" id="select" class="custom-control-input item-group-select" title="Select" />
                            <label for="select" class="custom-control-label"></label>
                        </div>
                    </th>
                    <th class="text-left text-break">
                        <span>E-mail</span>
                    </th>
                    <th class="d-none d-lg-table-cell text-center text-break">
                        <span>Date</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Links</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.View.Search.Items)
                {
                    <tr class="item-group-item">
                        <td class="text-center text-break">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-@item.Email" name="emails" value="@item.Email" class="custom-control-input item-group-item-checkbox" title="Select" />
                                <label for="checkbox-@item.Email" class="custom-control-label"></label>
                            </div>
                        </td>
                        <td class="text-left text-break">
                            <span title="@item.Email" class="font-weight-bold">@item.Email</span>
                        </td>
                        <td class="d-none d-lg-table-cell text-center text-break utc-date" data-date="@Model.View.Analysis.DateTimeCreated.ToString("yyyy-MM-dd'T'HH:mm:ss'Z'")">
                            <span class="utc-date-date" title="@Model.View.Analysis.DateTimeCreated.ToShortDateString()">@Model.View.Analysis.DateTimeCreated.ToShortDateString()</span>
                            <br />
                            <span class="utc-date-time" title="@Model.View.Analysis.DateTimeCreated.ToShortTimeString()">@Model.View.Analysis.DateTimeCreated.ToShortTimeString()</span>
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Content/DatabaseTypes/PPI/Created/Analyses/Details/Accounts/Users/Remove" asp-route-id="@Model.View.Analysis.Id" asp-route-emails="@item.Email" class="btn btn-danger m-1" title="Remove">
                                <span><i class="fas fa-user-minus"></i></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_SearchPaginationPartial" model="Model.View.Search.Pagination" />
    }
</form>
