@using Helpers.ViewModels
@{
    Layout = "/Pages/Content/Created/Networks/_Layout.cshtml";
    var _primaryColor = "dark";
    var _secondaryColor = "light";
    var navigationTitleCard = new NavigationTitleCardViewModel
    {
        Id = "Network",
        Title = Model.View.Network.Name,
        Subtitle = Model.View.Network.Id,
        Icon = "fa-share-alt"
    };
    var navigationArea = new NavigationAreaViewModel
    {
        Id = "Network",
        Title = "Network",
        Description = string.Empty,
        Icon = "fa-share-alt",
        Color = _primaryColor,
        RouteId = Model.View.Network.Id,
        NavigationGroups = new List<NavigationGroupViewModel>
        {
            new NavigationGroupViewModel
            {
                Id = "NetworkIndex",
                Title = "Overview",
                Description = string.Empty,
                Icon = "fa-chart-bar",
                Color = _primaryColor,
                Link = "/Content/Created/Networks/Details/Index"
            },
            new NavigationGroupViewModel
            {
                Id = "NetworkAccounts",
                Title = "Accounts",
                Description = string.Empty,
                Icon = "fa-user",
                Color = _primaryColor,
                Link = "/Content/Created/Networks/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "NetworkUsers",
                        Title = "Users",
                        Description = string.Empty,
                        Icon = "fa-user",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/Users"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "NetworkDatabases",
                Title = "Databases",
                Description = string.Empty,
                Icon = "fa-database",
                Color = _primaryColor,
                Link = "/Content/Created/Networks/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "NetworkDatabases",
                        Title = "Databases",
                        Description = string.Empty,
                        Icon = "fa-database",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/Databases"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "NetworkData",
                Title = "Data",
                Description = string.Empty,
                Icon = "fa-table",
                Color = _primaryColor,
                Link = "/Content/Created/Networks/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "NetworkNodes",
                        Title = "Nodes",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/Nodes"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "NetworkEdges",
                        Title = "Edges",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/Edges"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "NetworkNodeCollections",
                        Title = "Node collections",
                        Description = string.Empty,
                        Icon = "fa-folder",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/NodeCollections"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "NetworkCreated",
                Title = "Created",
                Description = string.Empty,
                Icon = "fa-smile",
                Color = _primaryColor,
                Link = "/Content/Created/Networks/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "NetworkAnalyses",
                        Title = "Analyses",
                        Description = string.Empty,
                        Icon = "fa-desktop",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Networks/Details/Analyses"
                    }
                }
            }
        }
    };
}

@section Breadcrumbs {
    <a asp-page="/Content/Created/Networks/Details/Index" class="breadcrumb-item"><span>Details</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@navigationArea" />
}

<partial name="_NavigationTitleCardPartial" model="@navigationTitleCard" />

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
