@using Helpers.ViewModels
@{
    Layout = "/Pages/Content/Created/Analyses/_Layout.cshtml";
    var _primaryColor = "dark";
    var _secondaryColor = "light";
    var navigationTitleCard = new NavigationTitleCardViewModel
    {
        Id = "Analysis",
        Title = Model.View.Analysis.Name,
        Subtitle = Model.View.Analysis.Id,
        Icon = "fa-desktop"
    };
    var navigationArea = new NavigationAreaViewModel
    {
        Id = "Analysis",
        Title = "Analysis",
        Description = string.Empty,
        Icon = "fa-desktop",
        Color = _primaryColor,
        RouteId = Model.View.Analysis.Id,
        NavigationGroups = new List<NavigationGroupViewModel>
        {
            new NavigationGroupViewModel
            {
                Id = "AnalysisIndex",
                Title = "Overview",
                Description = string.Empty,
                Icon = "fa-chart-bar",
                Color = _primaryColor,
                Link = "/Content/Created/Analyses/Details/Index"
            },
            new NavigationGroupViewModel
            {
                Id = "AnalysisAccounts",
                Title = "Accounts",
                Description = string.Empty,
                Icon = "fa-user",
                Color = _primaryColor,
                Link = "/Content/Created/Analyses/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisUsers",
                        Title = "Users",
                        Description = string.Empty,
                        Icon = "fa-user",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Users"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "AnalysisDatabases",
                Title = "Databases",
                Description = string.Empty,
                Icon = "fa-database",
                Color = _primaryColor,
                Link = "/Content/Created/Analyses/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisDatabases",
                        Title = "Databases",
                        Description = string.Empty,
                        Icon = "fa-database",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Databases"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "AnalysisData",
                Title = "Data",
                Description = string.Empty,
                Icon = "fa-table",
                Color = _primaryColor,
                Link = "/Content/Created/Analyses/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisNodes",
                        Title = "Nodes",
                        Description = string.Empty,
                        Icon = "fa-circle",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Nodes"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisEdges",
                        Title = "Edges",
                        Description = string.Empty,
                        Icon = "fa-arrow-right",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Edges"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisNodeCollections",
                        Title = "Node collections",
                        Description = string.Empty,
                        Icon = "fa-folder",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/NodeCollections"
                    }
                }
            },
            new NavigationGroupViewModel
            {
                Id = "AnalysisCreated",
                Title = "Created",
                Description = string.Empty,
                Icon = "fa-smile",
                Color = _primaryColor,
                Link = "/Content/Created/Analyses/Details/Index",
                NavigationPages = new List<NavigationPageViewModel>
                {
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisNetworks",
                        Title = "Networks",
                        Description = string.Empty,
                        Icon = "fa-share-alt",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Networks"
                    },
                    new NavigationPageViewModel
                    {
                        Id = "AnalysisControlPaths",
                        Title = "Control paths",
                        Description = string.Empty,
                        Icon = "fa-gamepad",
                        Color = _secondaryColor,
                        Link = "/Content/Created/Analyses/Details/Networks"
                    }
                }
            }
        }
    };
}

@section Breadcrumbs {
    <a asp-page="/Content/Created/Analyses/Details/Index" class="breadcrumb-item"><span>Details</span></a>
    @RenderSection("Breadcrumbs", required: false)
}

@section Navigation {
    <partial name="_NavigationAreaPartial" model="@navigationArea" />
}

<partial name="_NavigationTitleCardPartial" model="@navigationTitleCard" />

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}
