@page
@model DetailsModel
@{
    ViewData["Title"] = "Network details";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Content/Networks/Details" class="breadcrumb-item"><span>Details</span></a>
}

<div class="row align-items-center">
    <div class="col-lg-12 mb-3">
        <a asp-page="/Administration/Content/Networks/Delete" asp-route-ids="@Model.View.Network.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.Network.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.Network.Id" class="form-control" readonly />
                <span asp-description-for="View.Network.Id" class="text-muted small">The ID of the network.</span>
                <span asp-validation-for="View.Network.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.Network.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.Network.DateTimeCreated" class="text-muted small">The date and time when the network was created.</span>
                <span asp-validation-for="View.Network.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.Network.Name" class="form-control" readonly />
                <span asp-description-for="View.Network.Name" class="text-muted small">The name of the network.</span>
                <span asp-validation-for="View.Network.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.Network.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.Network.Description" class="text-muted small">The description of the network.</span>
                <span asp-validation-for="View.Network.Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Network.Algorithm" class="font-weight-bold">Algorithm</label>
                <input asp-for="View.Network.Algorithm" class="form-control" readonly />
                <span asp-description-for="View.Network.Algorithm" class="text-muted small">The algorithm used to generate the network.</span>
                <span asp-validation-for="View.Network.Algorithm" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user"></i></span>
            </div>
            <div>
                <span>Users</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.Network.NetworkUsers.Count() registered user@(Model.View.Network.NetworkUsers.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user"></i></span>
            </div>
            <div>
                <span>User invitations</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network is currently assigned to @Model.View.Network.NetworkUserInvitations.Count() unregistered user@(Model.View.Network.NetworkUserInvitations.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network currently contains @Model.View.Network.NetworkNodes.Count() node@(Model.View.Network.NetworkNodes.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The network currently contains @Model.View.Network.NetworkEdges.Count() edge@(Model.View.Network.NetworkEdges.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Content/Analyses/Index" asp-route-searchString="@Model.View.Network.Id" asp-route-searchIn="NetworkId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Network.AnalysisNetworks.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no analyses currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Analysis</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var analysisNetwork in Model.View.Network.AnalysisNetworks)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@analysisNetwork.Analysis.Name" class="font-weight-bold">@analysisNetwork.Analysis.Name</span>
                                </div>
                                <div>
                                    <span title="@analysisNetwork.Analysis.Id" class="small">@analysisNetwork.Analysis.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Content/Analyses/Details" asp-route-id="@analysisNetwork.Analysis.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Data/Databases/Index" asp-route-searchString="@Model.View.Network.Id" asp-route-searchIn="NetworkId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Network.NetworkDatabases.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no databases currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var networkDatabase in Model.View.Network.NetworkDatabases)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@networkDatabase.Database.Name" class="font-weight-bold">@networkDatabase.Database.Name</span>
                                </div>
                                <div>
                                    <span title="@networkDatabase.Database.Id" class="small">@networkDatabase.Database.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Data/Databases/Details" asp-route-id="@networkDatabase.Database.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-folder"></i></span>
            </div>
            <div>
                <span>Node collections</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Content/NodeCollections/Index" asp-route-searchString="@Model.View.Network.Id" asp-route-searchIn="NetworkId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Network.NetworkNodeCollections.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no node collections currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Node collection</span>
                        </th>
                        <th class="text-center text-break">
                            <span>Type</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var networkNodeCollection in Model.View.Network.NetworkNodeCollections)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@networkNodeCollection.NodeCollection.Name" class="font-weight-bold">@networkNodeCollection.NodeCollection.Name</span>
                                </div>
                                <div>
                                    <span title="@networkNodeCollection.NodeCollection.Id" class="small">@networkNodeCollection.NodeCollection.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <span title="@networkNodeCollection.Type.ToString()">@networkNodeCollection.Type.ToString()</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Content/NodeCollections/Details" asp-route-id="@networkNodeCollection.NodeCollection.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
