@page
@model IndexModel
@{
    ViewData["Title"] = "Overview";
}

<partial name="_NavigationQuickLinksPartial" model="@Helpers.ViewModels.NavigationQuickLinkViewModel.GetPrivateDataNavigationQuickLinks(Model.View.ItemCount)" />
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-share-alt"></i></span>
            </div>
            <div>
                <span>Recent networks</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.RecentNetworks.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no recent networks associated with your account.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>These are the most recently created networks associated with your account.</span>
            </div>
            <table class="table table-hover table-bordered mb-0" data-paging="false" data-info="false" data-searching="false">
                <thead class="thead-light">
                    <tr>
                        <th class="text-left text-break">
                            <span>Name</span>
                        </th>
                        <th class="d-none d-lg-table-cell text-center text-break text-nowrap">
                            <span>Status</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.View.RecentNetworks)
                    {
                        <tr>
                            <td class="text-left text-break">
                                <div>
                                    <a asp-page="/AvailableData/Created/Networks/Details/Index" asp-route-id="@item.Id" class="font-weight-bold" title="@item.Name">@item.Name</a>
                                </div>
                                <div>
                                    <span class="small text-muted" title="@item.Id">@item.Id</span>
                                </div>
                            </td>
                            <td class="d-none d-lg-table-cell text-center text-break text-nowrap">
                                <partial name="_NetworkStatusPartial" model="@item.Status" />
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/AvailableData/Created/Networks/Details/Index" asp-route-id="@item.Id" class="btn btn-info m-1" title="Details">
                                    <span><i class="fas fa-info-circle"></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Recent analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (!Model.View.RecentAnalyses.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no recent analyses associated with your account.</span>
            </div>
        }
        else
        {
            <div class="alert alert-info text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>These are the most recently created analyses associated with your account.</span>
            </div>
            <table class="table table-hover table-bordered mb-0" data-paging="false" data-info="false" data-searching="false">
                <thead class="thead-light">
                    <tr>
                        <th class="text-left text-break">
                            <span>Name</span>
                        </th>
                        <th class="d-none d-lg-table-cell text-center text-break text-nowrap">
                            <span>Status</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.View.RecentAnalyses)
                    {
                        <tr>
                            <td class="text-left text-break">
                                <div>
                                    <a asp-page="/AvailableData/Created/Analyses/Details/Index" asp-route-id="@item.Id" class="font-weight-bold" title="@item.Name">@item.Name</a>
                                </div>
                                <div>
                                    <span class="small text-muted" title="@item.Id">@item.Id</span>
                                </div>
                            </td>
                            <td class="d-none d-lg-table-cell text-center text-break text-nowrap">
                                <partial name="_AnalysisStatusPartial" model="@item.Status" />
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/AvailableData/Created/Analyses/Details/Index" asp-route-id="@item.Id" class="btn btn-info m-1" title="Details">
                                    <span><i class="fas fa-info-circle"></i></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
