@page
@model IndexModel
@using NetControl4BioMed.Data.Enumerations
@using Helpers.Extensions
@{
    ViewData["Title"] = "Analysis path details";
}

@if (Model.View.Analysis.Algorithm == AnalysisAlgorithm.Genetic)
{
    <div class="alert alert-warning text-justify text-wrap">
        <span><i class="fas fa-exclamation-triangle"></i></span>
        <span>The algorithm "@AnalysisAlgorithm.Genetic.GetDisplayName()" returns only control nodes, and not control paths. Thus, all displayed paths are the shortest paths between a control node and its corresponding controlled target nodes, instead of the actual control path.</span>
    </div>
}
@if (Model.View.ShowVisualization)
{
    <div class="card mb-3">
        <div class="card-header font-weight-bold">
            <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
                <div>
                    <span><i class="fas fa-eye"></i></span>
                </div>
                <div>
                    <span>Visualize</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-primary text-justify text-wrap">
                <span><i class="fas fa-info-circle"></i></span>
                <span>As the network corresponding to the path is relatively small, you can click the button below to visualize it in browser.</span>
            </div>
            <a asp-page="/Content/DatabaseTypes/Generic/Created/Analyses/Details/Created/ControlPaths/Details/Paths/Details/Visualize" asp-route-id="@Model.View.Path.Id" class="btn btn-primary btn-block">
                <span><i class="fas fa-eye"></i></span>
                <span>Visualize</span>
            </a>
        </div>
    </div>
}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Path nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>This section contains the nodes in the path.</span>
        </div>
        <table class="table table-hover table-bordered table-datatable" data-order="[[2, &quot;asc&quot;]]">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-name="index">
                        <span>#</span>
                    </th>
                    <th class="text-left text-break">
                        <span>Node</span>
                    </th>
                    <th class="text-center text-break" hidden>
                        <span>Index</span>
                    </th>
                    <th class="d-none d-lg-table-cell text-center text-break">
                        <span>Type</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Links</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pathNode in Model.View.PathNodes)
                {
                    <tr>
                        <td class="text-center text-break">
                            <span></span>
                        </td>
                        <td class="text-left text-break">
                            <span title="@pathNode.Node.Name" class="font-weight-bold">@pathNode.Node.Name</span>
                        </td>
                        <td class="text-center text-break" hidden>
                            <span title="@pathNode.Index" class="font-weight-bold">@pathNode.Index</span>
                        </td>
                        <td class="d-none d-lg-table-cell text-center text-break">
                            <partial name="_PathNodeTypePartial" model="pathNode.Type" />
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Content/DatabaseTypes/Generic/Data/Nodes/Details" asp-route-id="@pathNode.Node.Id" title="Details">
                                <span>Details</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Path edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap">
            <span><i class="fas fa-info-circle"></i></span>
            <span>This section contains the edges in the path.</span>
        </div>
        <table class="table table-hover table-bordered table-datatable" data-order="[[2, &quot;asc&quot;]]">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break" data-name="index">
                        <span>#</span>
                    </th>
                    <th class="text-left text-break">
                        <span>Edge</span>
                    </th>
                    <th class="text-center text-break" hidden>
                        <span>Index</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Links</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pathEdge in Model.View.PathEdges)
                {
                    <tr>
                        <td class="text-center text-break">
                            <span></span>
                        </td>
                        <td class="text-left text-break">
                            <span title="@pathEdge.Edge.Name" class="font-weight-bold">@pathEdge.Edge.Name</span>
                        </td>
                        <td class="text-center text-break" hidden>
                            <span title="@pathEdge.Index">@pathEdge.Index</span>
                        </td>
                        <td class="text-center text-break">
                            <a asp-page="/Content/DatabaseTypes/Generic/Data/Edges/Details" asp-route-id="@pathEdge.Edge.Id" title="Details">
                                <span>Details</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
