@page
@model DetailsModel
@{
    ViewData["Title"] = "Protein data details";
}

<partial name="_NavigationTitleCardPartial" model="@Helpers.ViewModels.NavigationTitleCardViewModel.GetDatabaseNodeFieldNavigationTitleCard(Model.View.DatabaseNodeField)" />
@if (User.IsInRole("Administrator"))
{
    <a asp-page="/Administration/Databases/DatabaseNodeFields/Details" asp-route-id="@Model.View.DatabaseNodeField.Id" class="btn btn-info btn-block mb-3" title="Details">
        <span><i class="fas fa-info-circle"></i></span>
        <span>Details</span>
    </a>
}
@if (!string.IsNullOrEmpty(Model.View.DatabaseNodeField.Description))
{
    <div class="card mb-3">
        <div class="card-body text-justify small">
            <span title="Description">@Model.View.DatabaseNodeField.Description</span>
        </div>
    </div>
}
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Database</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
            <thead class="thead-light">
                <tr>
                    <th class="text-center text-break text-nowrap" data-orderable="false" data-searchable="false" data-name="index">
                        <span>#</span>
                    </th>
                    <th class="text-left text-break">
                        <span>Database</span>
                    </th>
                    <th class="text-center text-break" data-orderable="false" data-searchable="false">
                        <span>Links</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center text-break text-nowrap">
                        <span></span>
                    </td>
                    <td class="text-left text-break">
                        <span title="@Model.View.DatabaseNodeField.Database.Name">@Model.View.DatabaseNodeField.Database.Name</span>
                    </td>
                    <td class="text-center text-break">
                        <a asp-page="/Content/DatabaseTypes/PPI/Databases/Databases/Details" asp-route-id="@Model.View.DatabaseNodeField.Database.Id" title="Details">
                            <span>Details</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Proteins</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The data set currently contains @Model.View.NodeCount protein@(Model.View.NodeCount != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
