@page
@model EditModel
@{
    ViewData["Title"] = "Edit user";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Accounts/Users/Edit" asp-route-id="@Model.View.User.Id" class="breadcrumb-item"><span>Create</span></a>
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Accounts/Users/Details" asp-route-id="@Model.View.User.Id" class="btn btn-info btn-block" title="Details">
            <span><i class="fas fa-info-circle"></i></span>
            <span>Details</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Accounts/Users/Delete" asp-route-ids="@Model.View.User.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user-edit"></i></span>
            </div>
            <div>
                <span>Edit user</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="post" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-wrap text-justify"></div>
            <div class="form-group">
                <label asp-for="Input.Id" class="font-weight-bold">ID</label>
                <input asp-for="Input.Id" class="form-control" readonly />
                <span asp-description-for="Input.Id" class="text-muted small">The internal ID of the user.</span>
                <span asp-validation-for="Input.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="font-weight-bold">E-mail</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-description-for="Input.Email" class="text-muted small">The e-mail of the new user.</span>
                <span asp-validation-for="Input.Email" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.EmailConfirmed" class="font-weight-bold">Set the e-mail as confirmed?</label>
                <select asp-for="Input.EmailConfirmed" class="custom-select form-control" disabled="@(Model.Input.EmailConfirmed ? "disabled" : null)">
                    <option value="false">No</option>
                    <option value="true">Yes</option>
                </select>
                <span asp-description-for="Input.EmailConfirmed" class="text-muted small">The e-mail confirmation status. It can be used to circumvent the need for the user to manually confirm their e-mail.</span>
                <span asp-validation-for="Input.EmailConfirmed" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <div class="row align-items-center mb-2">
                    <div class="col-lg-6">
                        <label asp-for="Input.RoleIds" class="font-weight-bold mb-0">Roles</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <a asp-page="/Administration/Accounts/UserRoles/Index" asp-route-searchString="@Model.View.User.Id" asp-route-searchIn="UserId" class="btn btn-outline-dark btn-block">
                                <span>View</span>
                            </a>
                        </div>
                    </div>
                </div>
                @if (!Model.View.Roles.Any())
                {
                    <div class="alert alert-info text-justify text-wrap">
                        <span><i class="fas fa-info-circle"></i></span>
                        <span>No roles have been found.</span>
                    </div>
                }
                else
                {
                    <table class="table table-striped table-bordered table-datatable item-group" data-paging="true" data-info="true" data-searching="true">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="select-1" class="custom-control-input item-group-select" title="Select" />
                                        <label for="select-1" class="custom-control-label"></label>
                                    </div>
                                </th>
                                <th class="text-center text-break">
                                    <span>#</span>
                                </th>
                                <th class="text-left text-break">
                                    <span>Name</span>
                                </th>
                                <th class="text-left text-break">
                                    <span>ID</span>
                                </th>
                                <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                    <span>Links</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (role, index) in Model.View.Roles.Select((item, index) => (item, index + 1)))
                            {
                                <tr class="item-group-item">
                                    <td class="text-center text-break">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="@role.Id" name="Input.RoleIds" value="@role.Id" class="custom-control-input" title="Select" checked="@(Model.Input.RoleIds.Contains(role.Id) ? "checked" : null)" />
                                            <label for="@role.Id" class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td class="text-center text-break">
                                        <span>@index</span>
                                    </td>
                                    <td class="text-left text-break">
                                        <span title="@role.Name" class="font-weight-bold">@role.Name</span>
                                    </td>
                                    <td class="text-left text-break">
                                        <span title="@role.Id">@role.Id</span>
                                    </td>
                                    <td class="text-center text-break">
                                        <a asp-page="/Administration/Accounts/Roles/Details" asp-route-id="@role.Id" title="Details">
                                            <span>Details</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <span asp-description-for="Input.RoleIds" class="text-muted small">The roles assigned to the user.</span>
            </div>
            <div class="form-group">
                <div class="row align-items-center mb-2">
                    <div class="col-lg-6">
                        <label asp-for="Input.DatabaseIds" class="font-weight-bold mb-0">Databases</label>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex flex-row justify-content-end align-items-center">
                            <a asp-page="/Administration/Accounts/DatabaseUsers/Index" asp-route-searchString="@Model.View.User.Id" asp-route-searchIn="UserId" class="btn btn-outline-dark btn-block">
                                <span>View</span>
                            </a>
                        </div>
                    </div>
                </div>
                @if (!Model.View.Databases.Any())
                {
                    <div class="alert alert-info text-justify text-wrap">
                        <span><i class="fas fa-info-circle"></i></span>
                        <span>No databases have been found.</span>
                    </div>
                }
                else
                {
                    <table class="table table-striped table-bordered table-datatable item-group" data-paging="true" data-info="true" data-searching="true">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" id="select-2" class="custom-control-input item-group-select" title="Select" />
                                        <label for="select-2" class="custom-control-label"></label>
                                    </div>
                                </th>
                                <th class="text-center text-break">
                                    <span>#</span>
                                </th>
                                <th class="text-left text-break">
                                    <span>Name</span>
                                </th>
                                <th class="text-left text-break">
                                    <span>ID</span>
                                </th>
                                <th class="text-center text-break" data-orderable="false" data-searchable="false">
                                    <span>Links</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var (database, index) in Model.View.Databases.Select((item, index) => (item, index + 1)))
                            {
                                <tr class="item-group-item">
                                    <td class="text-center text-break">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="@database.Id" name="Input.DatabaseIds" value="@database.Id" class="custom-control-input" title="Select" checked="@(Model.Input.DatabaseIds.Contains(database.Id) ? "checked" : null)" />
                                            <label for="@database.Id" class="custom-control-label"></label>
                                        </div>
                                    </td>
                                    <td class="text-center text-break">
                                        <span>@index</span>
                                    </td>
                                    <td class="text-left text-break">
                                        <span title="@database.Name" class="font-weight-bold">@database.Name</span>
                                    </td>
                                    <td class="text-left text-break">
                                        <span title="@database.Id">@database.Id</span>
                                    </td>
                                    <td class="text-center text-break">
                                        <a asp-page="/Administration/Data/Databases/Details" asp-route-id="@database.Id" title="Details">
                                            <span>Details</span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <span asp-description-for="Input.DatabaseIds" class="text-muted small">The databases that the user has access to. In addition, the user also has access to all public databases.</span>
            </div>
            <button type="submit" class="btn btn-block btn-success" title="Update">
                <span>Update</span>
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ScriptsValidationPartial" />
}
