@page
@model DetailsModel
@{
    ViewData["Title"] = "Node details";
}

@section Breadcrumbs {
    <a asp-page="/Administration/Content/Nodes/Details" class="breadcrumb-item"><span>Details</span></a>
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Content/Nodes/Update" asp-route-ids="@Model.View.Node.Id" class="btn btn-primary btn-block" title="Update">
            <span><i class="fas fa-code"></i></span>
            <span>Update</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Content/Nodes/Delete" asp-route-ids="@Model.View.Node.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.Node.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.Node.Id" class="form-control" readonly />
                <span asp-description-for="View.Node.Id" class="text-muted small">The ID of the node.</span>
                <span asp-validation-for="View.Node.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Node.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.Node.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.Node.DateTimeCreated" class="text-muted small">The date and time when the node was created.</span>
                <span asp-validation-for="View.Node.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Node.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.Node.Name" class="form-control" readonly />
                <span asp-description-for="View.Node.Name" class="text-muted small">The name of the node.</span>
                <span asp-validation-for="View.Node.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Node.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.Node.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.Node.Description" class="text-muted small">The description of the node.</span>
                <span asp-validation-for="View.Node.Description" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-database"></i></span>
            </div>
            <div>
                <span>Databases</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Relationships/DatabaseNodes/Index" asp-route-searchString="@Model.View.Node.Id" asp-route-searchIn="NodeId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Node.DatabaseNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no databases currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Database</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var databaseNode in Model.View.Node.DatabaseNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@databaseNode.Database.Name" class="font-weight-bold">@databaseNode.Database.Name</span>
                                </div>
                                <div>
                                    <span title="@databaseNode.Database.Id" class="small">@databaseNode.Database.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Data/Databases/Details" asp-route-id="@databaseNode.Database.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Node fields</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Relationships/DatabaseNodeFieldNodes/Index" asp-route-searchString="@Model.View.Node.Id" asp-route-searchIn="NodeId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Node.DatabaseNodeFieldNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no node fields currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Node field</span>
                        </th>
                        <th class="text-center text-break">
                            <span>Value</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var databaseNodeFieldNode in Model.View.Node.DatabaseNodeFieldNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@databaseNodeFieldNode.DatabaseNodeField.Name" class="font-weight-bold">@databaseNodeFieldNode.DatabaseNodeField.Name</span>
                                </div>
                                <div>
                                    <span title="@databaseNodeFieldNode.DatabaseNodeField.Id" class="small">@databaseNodeFieldNode.DatabaseNodeField.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <span title="@databaseNodeFieldNode.Value">@databaseNodeFieldNode.Value</span>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Data/DatabaseNodeFields/Details" asp-route-id="@databaseNodeFieldNode.DatabaseNodeField.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Relationships/EdgeNodes/Index" asp-route-searchString="@Model.View.Node.Id" asp-route-searchIn="NodeId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Node.EdgeNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no edges currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Edge</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var edgeNode in Model.View.Node.EdgeNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@edgeNode.Edge.Name" class="font-weight-bold">@edgeNode.Edge.Name</span>
                                </div>
                                <div>
                                    <span title="@edgeNode.Edge.Id" class="small">@edgeNode.Edge.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Content/Edges/Details" asp-route-id="@edgeNode.Edge.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-share-alt"></i></span>
            </div>
            <div>
                <span>Networks</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The node is currently assigned to @Model.View.Node.NetworkNodes.Count() network@(Model.View.Node.NetworkNodes.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The node is currently assigned to @Model.View.Node.AnalysisNodes.Count() analys@(Model.View.Node.AnalysisNodes.Count() != 1 ? "e" : "i")s.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-code-branch"></i></span>
            </div>
            <div>
                <span>Paths</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The node is currently assigned to @Model.View.Node.PathNodes.Count() path@(Model.View.Node.PathNodes.Count() != 1 ? "s" : string.Empty).</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-folder"></i></span>
            </div>
            <div>
                <span>Node collections</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <a asp-page="/Administration/Relationships/NodeCollectionNodes/Index" asp-route-searchString="@Model.View.Node.Id" asp-route-searchIn="NodeId" class="btn btn-info btn-block">
                <span>View all</span>
            </a>
        </div>
        @if (!Model.View.Node.NodeCollectionNodes.Any())
        {
            <div class="alert alert-info text-justify text-wrap mb-0">
                <span><i class="fas fa-info-circle"></i></span>
                <span>There are no node collections currently assigned.</span>
            </div>
        }
        else
        {
            <table class="table table-striped table-bordered table-datatable" data-order="[[1]]">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false" data-name="index">
                            <span>#</span>
                        </th>
                        <th class="text-left text-break">
                            <span>Node collection</span>
                        </th>
                        <th class="text-center text-break" data-orderable="false" data-searchable="false">
                            <span>Links</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var nodeCollectionNode in Model.View.Node.NodeCollectionNodes)
                    {
                        <tr>
                            <td class="text-center text-break">
                                <span></span>
                            </td>
                            <td class="text-left text-break">
                                <div>
                                    <span title="@nodeCollectionNode.NodeCollection.Name" class="font-weight-bold">@nodeCollectionNode.NodeCollection.Name</span>
                                </div>
                                <div>
                                    <span title="@nodeCollectionNode.NodeCollection.Id" class="small">@nodeCollectionNode.NodeCollection.Id</span>
                                </div>
                            </td>
                            <td class="text-center text-break">
                                <a asp-page="/Administration/Content/NodeCollections/Details" asp-route-id="@nodeCollectionNode.NodeCollection.Id" title="Details">
                                    <span>Details</span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
