@page
@model DetailsModel
@{
    ViewData["Title"] = "Database details";
}

<div class="row align-items-center">
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/Databases/Edit" asp-route-id="@Model.View.Database.Id" class="btn btn-warning btn-block" title="Edit">
            <span><i class="fas fa-pencil-alt"></i></span>
            <span>Edit</span>
        </a>
    </div>
    <div class="col-lg-6 mb-3">
        <a asp-page="/Administration/Databases/Databases/Delete" asp-route-ids="@Model.View.Database.Id" class="btn btn-danger btn-block" title="Delete">
            <span><i class="fas fa-trash"></i></span>
            <span>Delete</span>
        </a>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-info-circle"></i></span>
            </div>
            <div>
                <span>Details</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form method="get" class="text-justify">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger text-justify text-wrap"></div>
            <div class="form-group">
                <label asp-for="View.Database.Id" class="font-weight-bold">ID</label>
                <input asp-for="View.Database.Id" class="form-control" readonly />
                <span asp-description-for="View.Database.Id" class="text-muted small">The ID of the database.</span>
                <span asp-validation-for="View.Database.Id" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.DateTimeCreated" class="font-weight-bold">Date</label>
                <input asp-for="View.Database.DateTimeCreated" class="form-control" readonly />
                <span asp-description-for="View.Database.DateTimeCreated" class="text-muted small">The date and time when the database was created.</span>
                <span asp-validation-for="View.Database.DateTimeCreated" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.Name" class="font-weight-bold">Name</label>
                <input asp-for="View.Database.Name" class="form-control" readonly />
                <span asp-description-for="View.Database.Name" class="text-muted small">The name of the database.</span>
                <span asp-validation-for="View.Database.Name" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.Description" class="font-weight-bold">Description</label>
                <textarea asp-for="View.Database.Description" class="form-control" readonly></textarea>
                <span asp-description-for="View.Database.Description" class="text-muted small">The description of the database.</span>
                <span asp-validation-for="View.Database.Description" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.Url" class="font-weight-bold">URL</label>
                <div class="input-group">
                    <input asp-for="View.Database.Url" class="form-control" readonly />
                    @if (!string.IsNullOrEmpty(Model.View.Database.Url))
                    {
                        <div class="input-group-append">
                            <a href="@Model.View.Database.Url" target="_blank" rel="nofollow noopener noreferrer" class="btn btn-primary">
                                <span><i class="fas fa-external-link-alt"></i></span>
                            </a>
                        </div>
                    }
                </div>
                <span asp-description-for="View.Database.Url" class="text-muted small">The URL of the database.</span>
                <span asp-validation-for="View.Database.Url" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.IsPublic" class="font-weight-bold">Set the database as public?</label>
                <input asp-for="View.Database.IsPublic" type="text" class="form-control" readonly />
                <span asp-description-for="View.Database.IsPublic" class="text-muted small">The public availability of the database.</span>
                <span asp-validation-for="View.Database.IsPublic" class="text-danger small"></span>
            </div>
            <div class="form-group">
                <label asp-for="View.Database.DatabaseType.Name" class="font-weight-bold">Type</label>
                <div class="input-group">
                    <input asp-for="View.Database.DatabaseType.Name" class="form-control" readonly />
                    <div class="input-group-append">
                        <a asp-page="/Administration/Databases/DatabaseTypes/Details" asp-route-id="@Model.View.Database.DatabaseType.Id" class="btn btn-info">
                            <span><i class="fas fa-info-circle"></i></span>
                        </a>
                    </div>
                </div>
                <span asp-description-for="View.Database.DatabaseType.Name" class="text-muted small">The type of the database.</span>
                <span asp-validation-for="View.Database.DatabaseType.Name" class="text-danger small"></span>
            </div>
        </form>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-user"></i></span>
            </div>
            <div>
                <span>Users</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently assigned to @Model.View.UserCount user@(Model.View.UserCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Permissions/DatabaseUsers/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the users</a>, or <a asp-page="/Administration/Permissions/DatabaseUsers/Create" asp-route-databaseString="@Model.View.Database.Name" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-envelope-open"></i></span>
            </div>
            <div>
                <span>User invitations</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently assigned to @Model.View.UserInvitationCount user invitation@(Model.View.UserInvitationCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Permissions/DatabaseUserInvitations/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the user invitations</a>, or <a asp-page="/Administration/Permissions/DatabaseUserInvitations/Create" asp-route-databaseString="@Model.View.Database.Name" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Database node fields</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database currently contains @Model.View.DatabaseNodeFieldCount database node field@(Model.View.DatabaseNodeFieldCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Databases/DatabaseNodeFields/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the database node fields</a>, or <a asp-page="/Administration/Databases/DatabaseNodeFields/Create" asp-route-databaseString="@Model.View.Database.Name" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Database edge fields</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database currently contains @Model.View.DatabaseEdgeFieldCount database edge field@(Model.View.DatabaseEdgeFieldCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Databases/DatabaseEdgeFields/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the database edge fields</a>, or <a asp-page="/Administration/Databases/DatabaseEdgeFields/Create" asp-route-databaseString="@Model.View.Database.Name" class="alert-link">add a new one</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-circle"></i></span>
            </div>
            <div>
                <span>Nodes</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database currently contains @Model.View.NodeCount node@(Model.View.NodeCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Relationships/DatabaseNodes/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the nodes</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-arrow-right"></i></span>
            </div>
            <div>
                <span>Edges</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database currently contains @Model.View.EdgeCount edge@(Model.View.EdgeCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Relationships/DatabaseEdges/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the edges</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-folder"></i></span>
            </div>
            <div>
                <span>Node collections</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently assigned to @Model.View.NodeCollectionCount node collection@(Model.View.NodeCollectionCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Relationships/NodeCollectionDatabases/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the node collections</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-share-alt"></i></span>
            </div>
            <div>
                <span>Networks</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently assigned to @Model.View.NetworkCount network@(Model.View.NetworkCount != 1 ? "s" : string.Empty). You can <a asp-page="/Administration/Created/Networks/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the networks</a>.</span>
        </div>
    </div>
</div>
<div class="card mb-3">
    <div class="card-header font-weight-bold">
        <div class="d-flex flex-column flex-lg-row-reverse justify-content-center align-items-center justify-content-lg-between">
            <div>
                <span><i class="fas fa-desktop"></i></span>
            </div>
            <div>
                <span>Analyses</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="alert alert-info text-justify text-wrap mb-0">
            <span><i class="fas fa-info-circle"></i></span>
            <span>The database is currently assigned to @Model.View.AnalysisCount analys@(Model.View.AnalysisCount != 1 ? "e" : "i")s. You can <a asp-page="/Administration/Created/Analyses/Index" asp-route-searchString="@Model.View.Database.Id" asp-route-searchIn="DatabaseId" class="alert-link">view the analyses</a>.</span>
        </div>
    </div>
</div>
